<mat-nav-list>
  <div class="submenuItemContainer">
    <mat-icon>business_center</mat-icon>
    <a mat-list-item routerLink="general-informations" routerLinkActive="active-link">General Info</a>
  </div>

  <div class="submenuItemContainer">
    <mat-icon>table_chart</mat-icon>
    <a mat-list-item routerLink="week-template" routerLinkActive="active-link">Week template</a>
  </div>

  <div class="submenuItemContainer">
    <mat-icon>local_play</mat-icon>
    <a mat-list-item routerLink="weekly-events" routerLinkActive="active-link">Weekly Events</a>
  </div>

  <div class="submenuItemContainer">
    <mat-icon>person_add</mat-icon>
    <a mat-list-item routerLink="organogram" routerLinkActive="active-link">Organogram</a>
  </div>
</mat-nav-list>
