@if (data; as d) {
  @if (isComplete(d)) {
    <div id="repertoireTagContainer">
      <sh3-tag [text]="String(d.energy)"   variant="primary" icon="lightning" />
      <sh3-tag [text]="String(d.effort)"   variant="primary" icon="fire" />
      <sh3-tag [text]="String(d.affinity)" variant="primary" icon="heart" />
      <sh3-tag [text]="String(d.mastery)"  variant="primary" icon="award" />
    </div>
  } @else {
    <sh3-button-secondary buttonLabel="addRepertoireEntry" (clicked)="addEntry()" />
  }
} @else {
  <sh3-button-secondary buttonLabel="addRepertoireEntry" (clicked)="addEntry()" />
}

