<!-- 404 Error -->
@if (hasError404) {
  <div class="error-page">
    <h1>404</h1>
    <p>Oups ! Something went wrong</p>
  </div>
}

<!-- No Match Result -->
@if (hasNoMatch && !hasError404) {
  <div class="error-page">
    <h1>NO MATCH</h1>
    <span>Try different search parameters.</span>
    <sh3-button-primary buttonLabel="Back to search" [onClick]="handleBackToConfig"/>
  </div>
}

@if (!hasError404 && !hasNoMatch) {
  <div class="container">
    <div class="buttons">
      <sh3-button-secondary buttonLabel="stats" icon="stats" (clicked)="toggleStatContainer()"/>
      <sh3-button-primary buttonLabel=" + new" (clicked)="createNewVersion()"/>
    </div>
    <music-library-stats [isOpen]="statContainerOpen"/>
    <music-library-filters [(filterValue)]="filter"/>
    <label class="fadedText">8 songs</label>
    <div class="listContainer">
      @for (row of tableData; track row) {
        <music-card [item]="row"/>
      }
    </div>
  </div>
  <paginator />
}



