<!-- 404 Error -->
<div *ngIf="hasError404" class="error-page">
  <h1>404</h1>
  <p>Oups ! Something went wrong</p>
</div>

<!-- No Match Result -->
<div *ngIf="hasNoMatch && !hasError404" class="error-page">
  <h1>NO MATCH</h1>
  <span>Try different search parameters.</span>
  <sh3-button-primary buttonLabel="Back to search" [onClick]="handleBackToConfig"/>
</div>

<ng-container *ngIf="!hasError404 && !hasNoMatch">
  <div class="container">
    <div class="buttons">
      <sh3-button-secondary buttonLabel="stats" icon="stats" (clicked)="toggleStatContainer()"/>
      <sh3-button-primary buttonLabel=" + new" (clicked)="createNewVersion()"/>
    </div>
    <music-library-stats [isOpen]="statContainerOpen"/>
    <music-library-filters [(filterValue)]="filter"/>

    <label class="fadedText">8 songs</label>
    <div class="listContainer">
      <music-card *ngFor="let row of tableData" [item]="row"/>
    </div>
  </div>
  <paginator />
</ng-container>



