<div class="music-lib-header" [class.compact]="isCompact">
  <div class="page-banner">MUSIC</div>
</div>



<div class="tab-header">
  <!-- 🔥 tab control and navigation -->
  <div class="add-tab" (click)="addNewTab()">＋</div>

  <div
    *ngFor="let tab of tabs"
    class="tab"
    [class.active]="tab.isActive"
    [class.with-search]="tab.isActive && tab.isSearchVisible"
    (click)="activateTab(tab.id)"
    (dblclick)="tab.isEditable !== false && enableTabNameEdit(tab)"
  >
    <!-- Nom normal ou édition -->
    <ng-container *ngIf="!tab.isEditing; else editTemplate">
      {{ tab.title }}
    </ng-container>

    <ng-template #editTemplate>
      <input
        [(ngModel)]="tab.title"
        (keydown.enter)="disableTabNameEdit(tab)"
        (blur)="disableTabNameEdit(tab)"
        autofocus
      />
    </ng-template>

    <span *ngIf="tab.isSearchable" class="search-toggle" (click)="toggleSearch(tab)">
  🔍
</span>

    <!-- 🔥 close button -->
    <span *ngIf="tab.isDeletable" class="close" (click)="closeTab(tab.id)">✕</span>
  </div>
</div>

<ng-container *ngIf="getActiveTab() as tab">
  <div *ngIf="tab.isSearchVisible" class="modern-search-bar">
    <div class="input-wrapper">
      <input
        [(ngModel)]="tab.search"
        (ngModelChange)="applyFilter($event)"
        placeholder="Search..."
      />
      <div class="underline"></div>
    </div>
  </div>
</ng-container>

<div class="tab-content">
  <!-- 🔥 active tab content -->
  <ng-template #tabContentHost></ng-template>
</div>
