<div class="music-entry-card">
  <div>
    <sh3-checkbox label=""/>
    <sh3-svg-icon [name]="'play'" class="icon"/>
  </div>


  <div class="main-info">
    <p>{{ item.version.title }}</p>
    <p class="artistName">{{ item.version.artist }}</p>
  </div>

  <div class="versionData">
    <span class="label darkLabel">{{ item.version.type }}</span>
    <span class="label darkLabel">{{ item.version.genre }}</span>
  </div>

  <div class="musicData">
    <span class="label greyLabel">
      <sh3-svg-icon [name]="'clock'" class="icon"/>      __:__
    </span>
    <span class="label greyLabel">
      <sh3-svg-icon [name]="'metronome'" class="icon"/>
      __bpm</span>
    <span class="label greyLabel"> __st</span>
    <span class="label greyLabel"> __</span>
  </div>

  <div class="repertoire-block">
    <ng-container *ngIf="item.repertoireEntry; else addRepertoire">
      <span class="label primaryLabel">
        <sh3-svg-icon [name]="'lightning'" class="icon"/>
        {{ item.repertoireEntry.energy }}
      </span>
      <span class="label primaryLabel">
        <sh3-svg-icon [name]="'fire'" class="icon"/>
        {{ item.repertoireEntry.effort }}
      </span>

      <span class="label primaryLabel">
        <sh3-svg-icon [name]="'heart'" class="icon"/>
        {{ item.repertoireEntry.effort }}

      </span>
      <span class="label primaryLabel">
        <sh3-svg-icon [name]="'award'" class="icon"/>
        {{ item.repertoireEntry.mastery }}
      </span>

    </ng-container>
    <ng-template #addRepertoire>
      <button (click)="addEntry.emit()">Ajouter une interprétation</button>
    </ng-template>
  </div>

</div>
