<div class="musicEntryContainer">
  <div class="music-entry-card">
    <div class="check">
      <sh3-checkbox label=""/>
      <sh3-svg-icon [name]="'play'" class="icon"/>
    </div>


    <div class="main-info">
      <p>{{ item.version.title }}</p>
      <p class="artistName fadedText">{{ item.version.artist }}</p>
    </div>

    <div class="versionData">
      <sh3-tag [text]=" item.version.type ?? 'N/A'" [variant]="item.version.type? 'lightGrey': 'warning'"/>
      <sh3-tag [text]="item.version.genre ??  'N/A'" [variant]="item.version.genre? 'lightGrey': 'alert'"/>
    </div>

    <div class="musicData">
      <sh3-tag [text]="`__:__`" [variant]="'fadedGrey'" icon="clock"/>
      <sh3-tag [text]="`${120}bpm`" [variant]="'fadedGrey'" icon="metronome"/>
      <sh3-tag [text]="`${2}st`" [variant]="'fadedGrey'"/>
      <sh3-tag [text]="`C#m`" [variant]="'fadedGrey'"/>
    </div>

    <repertoire-entry [data]="item.repertoireEntry"/>

    <div class="control-block">
      <sh3-svg-icon [name]="'stats'" class="icon"/>
      <sh3-svg-icon [name]="'stats'" class="icon"/>
    </div>

  </div>
  <ng-container>
    <div class="fileContainer">
      <!--IMPORTS-->
      <div class="flexRowSpaceBetween">
        <span class="fadedText">Add new files</span>
        <sh3-button-secondary buttonLabel="upload" [icon]="'upload'"/>
      </div>
      <hr class="divider" />

      <!--LIST-->

      <div class="fileListContainer">
        <div class="flexRowSpaceBetween">
          <span class="fadedText">Existing files</span>
          <div class="flexRowSpaceBetween">
            <span class="label greyLabel"> 3 files</span>
            <span class="label greyLabel"> 56 MB</span>
          </div>
        </div>

        <div class="fileLine">
          <div>
            <sh3-svg-icon name="music-file" class="icon"/>
            File1
          </div>
          <div class="fileControl">
            <sh3-svg-icon [name]="'play'" class="icon"/>
            <sh3-svg-icon [name]="'download'" class="icon"/>
            <sh3-svg-icon [name]="'bin'" class="icon"/>
          </div>


        </div>
        <div class="fileLine">
          <sh3-svg-icon name="music-file" class="icon"/>
          <sh3-svg-icon [name]="'play'" class="icon"/>

        </div>
      </div>
    </div>

  </ng-container>

</div>



