@mixin listItemLayout {
  background-color: var(--headAndfootBgColor);
  color: var(--baseTextColor);
  border-radius: 8px;
  border: 1px solid #7d808030;
  font-size: 0.75rem;
}

@mixin gridLabel {
  display: grid;
  gap: 0.2rem;
}

@mixin flexRow($justify: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: center;
  gap: 0.25rem;
};

.check {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--colorPrimary);
}

.musicEntryContainer {
  @include listItemLayout;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
}

.music-entry-card {
  display: grid;
  grid-template-columns: auto 1fr repeat(4, max-content);
  align-items: center;
  gap: 1rem 2rem;
}


.main-info {

}

.musicEntryContainer:hover {
  border: 1px solid var(--colorSecondary);
}

.artistName {
  font-weight: lighter;
  text-transform: capitalize;
}

.icon {
  width: 0.75rem;
  height: 0.75rem;
  fill: currentColor;
}

.versionData {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.2rem;
}

.musicData {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2rem;
}



.label {
  @include flexRow();
  padding: 0.2rem 0.5rem;
  height: 0.8rem;
  border-radius: 4px;
}



.playButton {
  color: var(--colorPrimary);
}



//STATS
.statCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: var(--headAndfootBgColor);
  color: var(--baseTextColor);
}



.fileContainer {
  display: grid;
  background-color: #2b2d2d;
  border-radius: 6px;
  padding: 0.5rem;
}

.fileListContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  max-height: 300px;
}

.flexRowSpaceBetween {
  @include flexRow(space-between);
}

.fileLine {
  @include flexRow(space-between);
  @include listItemLayout;
  padding: 0.5rem;
}

.fileControl {
  @include flexRow(space-between);
  gap: 0.5rem;
}

.divider {
  border: none;
  height: 1px;
  background-color: #7d808030;
  margin: 16px 0;
}


