@use 'tokens' as t;

:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
  padding: 0.5rem ;
  background-color: var(--surface1-bgColor);
  border: 1px solid #7d808030;
  border-radius: 8px;
}

form {
  width: 100%;
}

.base {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 0.5rem;
  align-items: center;
}



.deux {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.input {

}
