:host {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

#formOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

sh3-button-primary {
  text-align: center;
}
