:host {
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  border-radius: 0.35rem 0.35rem 0 0;
  background-color: var(--colorMidGrey);
  color: var(--culturedWhite);
}

