<form [formGroup]="nodeForm" class='form' (ngSubmit)="onSubmit()">
  <h3>{{ nodeAction }} node</h3>

  <mat-form-field appearance="outline">
    <mat-label>Type</mat-label>
    <mat-select formControlName="type">
      <mat-option value="service">Service</mat-option>
      <mat-option value="category">Category</mat-option>
      <mat-option value="staff">Staff</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox  formControlName="canHaveChildren">Can have children</mat-checkbox>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name">
  </mat-form-field>


  <div formGroupName="color" class="colorGroup">
    <mat-form-field appearance="outline">
      <mat-label>Custom Color</mat-label>
      <input matInput type="color" formControlName="custom">
    </mat-form-field>

    <mat-checkbox  formControlName="autoColorizeChildren">Children auto-colors</mat-checkbox>
  </div>




  <button mat-fab extended>Save</button>

</form>


