:host{
  width: 100%;
  height: 100%;
  padding: 2rem;

}

.form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

mat-form-field{

}

mat-label {

}

.colorGroup {
  display: flex;
  flex-direction: row;
}

h3 {
  text-transform: capitalize;
}
