<ng-container *ngIf="hasValidData(); else addRepertoire">
  <div id="repertoireTagContainer">
    <sh3-tag [text]="data.energy" [variant]="'primary'" icon="lightning"/>
    <sh3-tag [text]="data.effort" [variant]="'primary'" icon="fire"/>
    <sh3-tag [text]="data.affinity" [variant]="'primary'" icon="heart"/>
    <sh3-tag [text]="data.mastery" [variant]="'primary'" icon="award"/>
  </div>
</ng-container>

<ng-template #addRepertoire>
  <sh3-button-secondary buttonLabel="addRepertoireEntry"/>
</ng-template>

