# Dépendances
/node_modules/

# Builds locaux (tous les packages)
packages/*/dist/
dist/

# Cache TypeScript
*.tsbuildinfo

# IDE / Editor config
.idea/

#dev-toolbox
dev-toolbox/.fix-cache.json

# Environnements
.env
.env.*

# Logs
*.log

# Tests / Jest
coverage/
packages/*/coverage/