[data-theme='dark'] {
  --pageTitleColor: rgba(239, 240, 243, 0.05);
  --pageBackgroundColor: rgba(40, 42, 42, 100);
  --primaryTextColor: #ccc;


  --colorPrimaryMenus: #191c1e;
  --headAndfootBgColor: #2d3131;
}
