@import 'tokens';

[data-theme='dark'] {
  //----------Text color------------//
  --pageTitleColor: rgba(239, 240, 243, 0.05);
  --primaryTextColor: #ccc;

  //----------button elements color------------//
  --buttonPrimaryBgColor: #{$button-primary-bgColor-dark};
  --buttonPrimaryTextColor: #{$button-primary-textColor};

  //----------Structural elements color------------//
  --colorPrimaryMenus: #191c1e;
  --pageBgColor: rgba(40, 42, 42, 100);
  --headAndfootBgColor: #2d3131;
  --sidePanelsPrimaryBgColor: #4f74ec;

  //----------Form ------------//
  --form-field-borderColor: #{$form-field-borderColor-dark};
  --form-field-bgColor: #{$form-field-bgColor-dark};
  --form-field-focus-outlineColor: #{$form-field-focus-outlineColor};
  --form-block-bgColor: #{$form-block-bgColor-dark};
}





