:host{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#nowLine{
  border-bottom: 2px solid red;
  z-index:4;
}

#rightFiller {
  position: absolute;
  top: 0;
  right: 0;
  display:grid;
  min-width: 40px;
  grid-template-rows: repeat(600, 15px);
  width: 5%;
  height: 100%;
  background-color: #282a2a;
}




