<cdk-accordion>
  <cdk-accordion-item #accordionItem="cdkAccordionItem"
    class="example-accordion-item">

    <button #toggleButton
      (click)="accordionItem.toggle()"
      [ngClass]="'level-' + nestingLevel"
      class="header">
      {{ title }}
      <mat-icon>{{ accordionItem.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
    </button>

    @if (accordionItem.expanded) {
      <div
        [ngClass]="'level-' + nestingLevel"
        class="body">
        <ng-content select="[section]"/>
      </div>
    }

  </cdk-accordion-item>
</cdk-accordion>
