.sectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.formSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;
    gap: 1rem;
}

/*STRUCTURE CLASSES*/
.form{
    display: flex;
    height: 100%;
    padding: 2rem;
    justify-content: space-between;
    gap: 2rem;
}

.section{

}

.spaceBetween{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.gapSmall{
    display: inherit;
    gap: 0.5rem;
}

.gapMid{
    display: inherit;
    gap: 1rem;
}

.gapLarge{
    display: inherit;
    gap: 2rem;
}


.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.widthLarge {
    width: 100%;
}

.widthMid {
    width: 30%;
}

.widthNarrow {
    width: 15%
}

.tall {
    height: 3rem;
}

.avg {
    height: 2rem;
}

.small {
    height: 1.5rem
}

.borderRoundLight {
    border-radius: 0.1rem;
}

.borderRoundMid {
    border-radius: 0.4rem;
}

.borderRoundHeavy {
    border-radius: 1rem;
}

/*SECTION TITLE*/
.form_sectionTitle {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: #ccc;
    font-size: 1.15rem;
}

/* FIELDS */
.field {
    display: inherit;
    align-items: center;
    min-width: 220px;
    color: #ccc;
}

.field:focus {
    border-color: #a2a2a2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Custom focus outline */
    outline: 1px solid #ccc;
}

.textField {
    padding: 0 1.5%;
    background: none;
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 90%;
    font-weight: lighter;
}


.select{
    cursor: pointer;
    outline: none;
}




.capital{
    text-transform: capitalize;
}

.stepBox {
    padding: 0.2rem 0.5rem;
    border-radius: 0.1rem;
    font-weight: lighter;
    font-size: 0.8rem;
    background-color: var(--colorMidGrey);
}

.checkbox{
    height: 1.2rem;
    width: 1.2rem;
    cursor: pointer;
    background: none;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.checkbox:hover {
    background-color: #e0e0e0;
    border-color: #999;
}