<div class="data-list">
  <div class="data-header">
    @for (col of column(); track col.fromKey) {
      <div class="data-cell font-semibold">{{ col.label ?? col.fromKey }}</div>
    }
    @if (rowActionsTemplate()) {
      <div class="data-cell font-semibold">Actions</div>
    }
  </div>

  @for (item of data(); track item) {
    <div class="data-row">
      @for (col of column(); track col.fromKey) {
        <div class="data-cell">
          {{ formatValue(item[col.fromKey], col) }}
        </div>
      }
      @if (rowActionsTemplate()) {
        <div class="data-cell">
          <ng-container
            *ngTemplateOutlet="rowActionsTemplate(); context: { $implicit: item }">
          </ng-container>
        </div>
      }
    </div>
  }
</div>
