@use 'tokens' as t;
@use 'mixins' as m;

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.data-list {

}

.data-header {
  @include m.listItemLayout;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  height: 3rem;
}

.data-row{
  @include m.listItemLayout;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
}

.data-cell {

}
