
@mixin sidePanels {

}


@mixin flexRow($justify: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: center;
  gap: 0.25rem;
};


@mixin listItemLayout {
  background-color: var(--surface1-bgColor);
  color: var(--baseTextColor);
  border-radius: 8px;
  border: 1px solid #7d808030;
  font-size: 0.75rem;
  padding: 0.5rem;

  &:hover {
    border: 1px solid var(--colorSecondary);
  }
}
