@use 'tokens' as t;


@mixin form-section-title {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--baseTextColor);
};

@mixin form-container($display) {
  display: $display;
  background: t.$form-bgColor;
  margin: 0 auto;
  backdrop-filter: blur(8px);

  @if $display == flex {
    flex-direction: column;
    justify-content: flex-start;
  }

  @else if $display == grid {

    @media (max-width: t.$small-width-trigger) {
      grid-template-columns: 1fr;
    };
  };
}

@mixin form-block() {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: t.$form-block-padding;
  border-radius: t.$form-block-radius;
  color: var(--baseTextColor);
  background: var(--headAndfootBgColor);
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

@mixin form-grid($columns: 1) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: 1rem;

  .oneCol {
    grid-column: span 1;
  }

  .fullRow {
    grid-column: 1 / -1;
  }

  @media (max-width: t.$small-width-trigger) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
