:host {
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 30;
}

.insert-line {
  position: relative;
  height: 2px;

  background: var(--accent-color);

  opacity: 0.9;
}

.insert-line::before,
.insert-line::after {
  content: "";
  position: absolute;
  top: -2px;

  width: 6px;
  height: 6px;

  border-radius: 50%;

  background: var(--accent-color);

  /* juste pour lisibilité sur fond sombre */
  box-shadow: 0 0 0 2px var(--content-page-bg-color);
}

.insert-line::before {
  left: -3px;
}

.insert-line::after {
  right: -3px;
}
