:host {
  position: relative;
  display:grid;
  min-width: 40px;
  grid-template-rows: repeat(600, 15px);
  width: 5%;
  height: 100%;
  background-color: #282a2a;
}

.hourText {
  position: absolute;
  top: 27px;
  margin-left: 6px;
  font-size: 0.75rem;
  font-weight: normal;
  color: #8a8d8d;
}

#nowText {
  position: absolute;
  top: 27px;
  margin-left: 3px;
  font-size: 0.75rem;
  font-weight: normal;
  color: red;
}
