:host {
  position: relative;
  flex: 1;
}

.time-marker {
  position: absolute;
  left: 10px;
  font-size: var(--text-sm);
  font-weight: 500;
  color: var(--text-secondary);
  transform: translateY(-50%);
}


