:host {
  width: 100%;
  overflow-x: auto;
}

#playlistTable {
  border-collapse: collapse;
  min-width: 1000px;

}

thead th{
  position: sticky;
  top: 0;
}

thead td { //design header cells
  height: 2rem;
  padding: 1px 10px;
  border: 1px solid #ddd;
  background-color: var(--GreyLevel2);
  color: #ddd;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.firstCol {
  width: 20px;
}

tbody tr:nth-child(even) {
  background-color: #acb0b015; /* Alternance de couleurs pour les lignes */
}

tbody tr {
  height: 0.5rem !important; // Définit une hauteur de 1rem pour les lignes
  line-height: 0.5rem;
  font-size: 0.75rem;
}

tbody td {
  padding: 1px 10px;
  border: 1px solid #ddd;
  font-size: 0.75rem;
}

.playlistRow {
  height: 10px;
}

.iconCol {
  width: 20px;
}

.sortButton {
  transform: rotate(90deg);
  color: #ddd;
}

.dateCol {
  width: 150px;
}
