<table>
  <thead>
    <tr>
      <th>Name </th>
      <th>Description</th>
      <th>Usage</th>
      <th>Length</th>
      <th>Songs</th>
      <th>Singers</th>
      <th>Actions</th>
    </tr>

    <tr>
      <th><input type="text" placeholder="Filter Name" (input)="filterTable($event, 'name')"></th>
      <th><input type="text" placeholder="Filter Description" (input)="filterTable($event, 'description')"></th>
      <th><input type="text" placeholder="Filter Usage" (input)="filterTable($event, 'usage')"></th>
      <th><input type="text" placeholder="Filter Length" (input)="filterTable($event, 'requiredLength')"></th>
      <th><input type="text" placeholder="Filter Songs" (input)="filterTable($event, 'numberOfSongs')"></th>
      <th><input type="text" placeholder="Filter Singers" (input)="filterTable($event, 'performers.singers')"></th>
      <th></th>
    </tr>
  </thead>
  <tbody>



    @for (plTemp of filteredPlTemplates; track plTemp) {
      <tr>
        <td>{{plTemp.name}}</td>
        <td>{{plTemp.description}}</td>
        <td>{{plTemp.usage}}</td>
        <td>{{plTemp.requiredLength}}</td>
        <td>{{plTemp.numberOfSongs}}</td>
        <td>{{plTemp.performers.singers}}</td>
        <td>
          <button mat-icon-button (click)="createPlaylistFromTemplate({ playlistTemplate_id: plTemp._id })"><sh3-icon name="playlist-add" title="Create playlist from template" /></button>
          <button mat-icon-button (click)="editPlaylistTemplate(plTemp)"><sh3-icon name="edit" title="Edit template" /></button>
          <button mat-icon-button (click)="deletePlaylistTemplate(plTemp)"><sh3-icon name="bin" title="Delete template" /></button>
        </td>
      </tr>
    }
  </tbody>
</table>
