/* pl-template-table.component.scss */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 0.75em;
  min-width: 400px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

thead tr {
  background-color: rgb(138, 141, 141);
  color: rgb(221, 221, 221);
  text-align: left;
  font-weight: bold;
}

th, td {
  padding: 8px 10px;
  border: 1px solid #dddddd;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #333333;
}

tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

th {
  background-color: rgb(138, 141, 141);
  color: rgb(221, 221, 221);
  text-transform: uppercase;
}

td {
  color: #333333;
}
