<div
  class="tabs-scroll"
  uiDndDropZone
  [dropZone_id]="'tab-bar'"
  [dropZoneAccept]="['tab']"
  (uiDndDrop)="onTabDrop($event)"
>
  @for (tab of tabs(); track tab.id) {
    <div
      class="tab"
      [class.active]="tab.id === activeTabId()"
      [style.border-left-color]="tab.color || 'transparent'"
      [style.border-left-width]="tab.color ? '3px' : '0'"
      (pointerup)="onTabPointerUp(tab, $event)"
      (dblclick)="onTabDblClick(tab, $event)"
      role="button"
      tabindex="0"
      uiDndDrag
      [dndType]="'tab'"
      [dndData]="{ tabId: tab.id, title: tab.title }"
    >
      @if (editingTabId() === tab.id) {
        <input
          class="tab-rename-input"
          [ngModel]="editTitle()"
          (ngModelChange)="editTitle.set($event)"
          (keydown.enter)="commitRename(tab.id)"
          (keydown.escape)="cancelRename()"
          (blur)="commitRename(tab.id)"
          (pointerup)="$event.stopPropagation()"
          autofocus
        />
      } @else {
        <span class="tab-title">{{ tab.title }}</span>
      }

      <sh3-button-icon
        icon="more-vertical"
        size="xs"
        [tooltip]="tabActionsLabel()"
        (clicked)="toggleTabMenu(tab.id, $event)"
      />

      @if (openTabMenuId() === tab.id) {
        <sh3-tab-inline-menu
          [tab]="tab"
          [savedConfigs]="savedConfigs()"
          [canClose]="tabs().length > 1"
          [canMoveToConfig]="canMoveToConfig()"
          [colorLabel]="colorLabel()"
          [moveToConfigLabel]="moveToConfigLabel()"
          [moveToLabel]="moveToLabel()"
          [closeLabel]="closeLabel()"
          (colorRequested)="onColorRequested($event)"
          (moveToConfig)="onMoveToConfig($event)"
          (moveToLockedConfig)="onMoveToLockedConfig($event)"
          (closeRequested)="onCloseRequested($event)"
        />
      }
    </div>
  }
</div>
