<div class="flexRowSpaceBetween">
  <h1>PLAYLIST MANAGER</h1>
  <button (click)="createEmptyPlaylist()">CREATE NEW</button>
</div>

<mat-tab-group>
  <mat-tab label="TEMPLATES">
    <!--TEMPLATES-->
    <pl-template-table />
    <pl-template-form />
  </mat-tab>

  <!--PLAYLISTS-->
  <mat-tab label="PLAYLISTS">
    <ng-container *ngIf="viewModeSignal() === 'playlist'">
      <app-playlist-table [playlists]="playlists"/>
    </ng-container>

    <ng-container *ngIf="viewModeSignal() === 'library'">
      <app-music-table />
    </ng-container>
  </mat-tab>
</mat-tab-group>


