:host{
  box-sizing: border-box;
  width: 100%;
  display: grid;
  position: relative;
  grid-template-columns: 50px 1fr 50px; /* hours text, hours lines, filler */
  grid-template-rows: repeat(288, 15px); /* 288 intervals of 5mins */
  gap: 0;
  background-color: #262728;
}

.hour-label {
  position: relative;
  grid-column: 1;
  top: -7.5px;
  font-size: 0.85rem;
  text-align: center;
  background-color: #282a2a ;
}

.plainHourColor {
  color: rgba(138, 141, 141, 0.6);
}

.currenTimeColor {
  color: red;
  font-weight: bold;
}

.hourGridLine {
  border-bottom: 1px solid rgba(138, 141, 141, 0.25);
  z-index: 20;
}

.current-time-bar {
  position: absolute;
  grid-column-start: 2;
  grid-column-end: 2;
  background-color: red;
  height: 2px;
  width: 100%;
  z-index: 10;
}

#rightFiller {
  grid-column: 3;
  background-color: #282a2a;
}

