.calendar-scroll-container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: auto;
}

.splitGrid{
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  gap: 0;

}

.centerCol {
  position: absolute; //check enlever
  top: 0; //check enlever
  left: 50px; //check enlever
  right: 50px; //check enlever
  background-color: var(--pageBgColor);
  display: flex;
  box-sizing: border-box;
  height: 4320px;
  z-index: 3;
}

.planning {
  box-sizing: border-box;
  flex: 1;
  display: grid;
  grid-template-rows: repeat(288, 15px);
  grid-template-columns: repeat(3, 1fr);
}


