$form-field-height: 2.5rem;
$form-field-radius: 6px;
$form-field-grid-gap: 1rem;
$form-field-padding: 0.55rem 0.7rem;
$form-field-fontSize: 0.9rem;
$form-field-label-fontSize: 0.8rem;


$form-field-borderColor-dark: rgba(253, 255, 255, 0.15);
$form-field-bgColor-dark: #3d4242;
$form-field-focus-outlineColor: rgba(253, 255, 255, 0.4);



//light
$form-block-bgColor-light: rgba(125, 139, 141, 0.07);
$form-field-bgColor-light: rgb(246, 242, 242);
