@use "tokens" as t;

:host {
  display: flex;
  flex-direction: column;
  width: t.$main-menus-width;
  height: 100%;
  color: var(--baseTextColor);
  background-color: var(--colorPrimaryMenus);
}



.active {
  color: var(--colorPrimary);
}
