:host {
  display: flex;
  flex-direction: column;
  width: var(--w-appMenu);
  height: 100%;
  color: var(--text-primary);
  background-color: var(--sidebar-color);
}

.active {
  color: var(--accent-color);
}
