<div class="flexRowSpaceBetween">
  <!--DURATION-->
  <div class="flexRowSpaceBetween">
    <sh3-icon name="clock" title="Duration" />
    <p>13:42</p>
  </div>

  <!--ENERGY-->
  <div class="flexRowSpaceBetween">
    <sh3-icon name="offline-bolt" title="Energy" />
    <input matInput type="number" [formControl]="energyControl" min="1" max="4" step="1">
  </div>

  <!--PLAYED x times-->
  <div class="flexRowSpaceBetween">
    <sh3-icon name="play-circle" title="Play count" />
    <input matInput type="number" [formControl]="energyControl" min="1" max="4" step="1">
  </div>

  <!--WORKLOAD-->
  <div class="flexRowSpaceBetween">
    <sh3-icon name="work" title="Workload" />
    <input matInput type="number" [formControl]="energyControl" min="1" max="4" step="1">
  </div>
</div>
