<table id="versionTable">
    <thead>
      <tr>
        <td id="type">Type</td>
        <td id="pitch">Pitch</td>
        <td id="genre">Genre</td>
        <td id="energy">Energy</td>
        <td id="effort">Effort</td>
        <td id="emergency">Emergency</td>
        <td></td>
      </tr>
      </thead>
    <tbody>
    <!-- Nouvelle Version -->
      <ng-container *ngIf="addVersionTr">
        <ng-container
          *ngTemplateOutlet="versionRowTemplate;
          context: { form: newVersionForm, index: -1, isNewVersion: true }" />
      </ng-container>

      <!-- Versions existantes -->
      <ng-container *ngFor="let version of versions; let i = index">
        <ng-container
          *ngTemplateOutlet="versionRowTemplate;
          context: { form: forms[i], index: i, version_id: version._id }" />
      </ng-container>
    </tbody>
</table>

<!-- Définition du template pour la ligne -->
<ng-template #versionRowTemplate let-form="form" let-index="index" let-version_id="version_id" let-isNewVersion="isNewVersion">
  <tr [formGroup]="form">
    <td class="td">
      <app-select [control]="form.get('type')" [options]="['original', 'acoustic', 'cover', 'remix']"/>
    </td>

    <td><input type="number" formControlName="pitch" min="-12" max="12"></td>

    <td>
      <app-select [control]="form.get('genre')" [options]="['pop', 'rock', 'jazz', 'electro', 'disco/soul']"/>
    </td>

    <td>
      <app-select [control]="form.get('energy')" [options]="['slow', 'mid', 'up-mid', 'high']"/>
    </td>

    <td>
      <app-select [control]="form.get('effort')" [options]="['low', 'mid', 'high']"/>
    </td>

    <td><input type="checkbox" formControlName="emergency"></td>

    <td>
      <button mat-icon-button class="buttonsForm" *ngIf="form.dirty"
              (click)="isNewVersion
              ? onSubmitPostNew({ referenceMusic_id: referenceMusic_id })
              : onSubmitUpdate({ index: index, version_id: version_id })"              [disabled]="form.invalid">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteVersion({ version_id: version_id })"><mat-icon>delete_forever</mat-icon></button>
      <button mat-icon-button class="buttonsForm" ><mat-icon>library_music</mat-icon></button>
      <button mat-icon-button *ngIf="!isNewVersion" cdkDrag [cdkDragData]="version_id">
        <mat-icon>drag_indicator</mat-icon>
      </button>
    </td>
  </tr>
</ng-template>
