:host {
  width: 100%;
}

#versionTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  text-align: left;
}

tr {
  height: 12px;
}


#versionTable tbody tr {
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

#versionTable tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

/* Bordure pour les cellules du header */
#versionTable thead tr {
  border-bottom: 1px solid #3331;
  background-color: #8a8d8d;
  font-size: 12px;
}


#versionTable th {
  padding: 6px 10px;
  border: 1px solid #ddd;
  font-size: 12px;
}

#versionTable td {
  padding: 6px 10px;
  border: 1px solid #ddd;
  font-size: 12px;
}

/* Ajout de hover sur les lignes */
#versionTable tbody tr:hover {
  background-color: #e2e2e2; /* Couleur de survol */
  cursor: pointer;
}

/* Version table col sizing */
#type {
  min-width: 100px;
}

#pitch {
  min-width: 20px;
}

#effort, #energy, #genre, #emergency {
  min-width: 80px;
}

.buttonsForm {
  color: #555555;
}
