@for (interval of timeIntervals; track interval; let i = $index) {
  <div class="hour-label plainHourColor"
    [style.grid-row-start]="interval.rowStart"
    [style.grid-row-end]="interval.rowEnd">
    {{ interval.hour }}
  </div>
}

<div class="hour-label currenTimeColor" [style.grid-row]="currentBarPosition">{{ currentHour }}</div>

<div class="current-time-bar" [style.top.px]="(currentBarPosition - 1) * 15"></div>

@for (interval of timeIntervals; track interval; let i = $index) {
  <div class="hourGridLine"
    [style.grid-row-start]="interval.rowStart"
    [style.grid-row-end]="interval.rowEnd">
  </div>
}

<div id="rightFiller"
  [style.grid-row-start]="timeIntervals[0].rowStart"
  [style.grid-row-end]="timeIntervals[timeIntervals.length-1].rowEnd">
</div>
