@use '@angular/material' as mat;
@use 'mixins' as m;
@use 'index' as sh3;
@use './styles/index';

@use "tailwindcss";
@import "./styles/_tokens.css"; /* important */

@include mat.elevation-classes();
@include mat.app-background();





// Define the theme object.
$shepherd-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

/**
  * Apply the theme to the application. GENERAL
 */
html, body {
  height: 100dvh;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  background-color: var(--culturedWhite);
}

*, *::before, *::after {
  box-sizing: border-box;
}

.flexRowSpaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


//DRAG AND DROP STYLE - DRAG STYLE DIRECTIVE
.cdk-drag-preview {
  border-radius: 8px;
  box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.2),
  0 12px 20px 2px rgba(0, 0, 0, 0.14),
  0 6px 18px 3px rgba(0, 0, 0, 0.12);
  transform: rotate(2deg); /* Effet visuel de levée */
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Effet quand une zone est prête à recevoir un élément */
.cdk-drop-list-dragging {
  border: 2px dashed #666;
  background: rgba(0, 0, 0, 0.05);
}


// Forms
form {
  h2 {
    @include m.form-section-title;
  }

  input[type="checkbox"] {
    margin-right: 6px;
    accent-color: var(--baseTextColor);
  }
}


//GENERIC CLASSES AND STYLES


.fadedText {
  color: var(--fadedTextColor);
}

/**
  * SVG Icon Styles
  * This is a global style for SVG icons used in the application.
 */
sh3-svg-icon {
  font-size: 0.75rem;
  fill: var(--baseTextColor);
}

@theme {
  --color-background: #f6f8fb;
  --color-surface: #ffffff;
  --color-surface-2: #f1f3f7;
  --color-surface-3: var(--color-surface-2); /* fallback */
  --color-surface-4: var(--color-surface-2);/* fallback */
  --color-menu: var(--color-surface-2);
  --color-baseText: #1c1c1e;
  --color-fadedText: #7d8080;
  --color-primary: #06a4a4;
  --color-secondary: rgb(78, 141, 141);
  --color-warning: rgb(197, 153, 38);
  --color-alert: rgb(182, 49, 49);
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
}

[data-theme="dark"] {
  --color-background: #1f232b;
  --color-surface: #1f2122;
  --color-surface-2: #262829;
  --color-surface-3: #3A3B3C;
  --color-surface-4: #3d4242;
  --color-baseText: #e5e5e5;
  --color-fadedText: #7d8080;
  --color-menu: #232526;
  --color-primary: #06a4a4;
  --color-warning: rgb(197, 153, 38);
  --color-alert: rgb(182, 49, 49);


  //--border-color: rgba(255,255,255,0.06);
}

@layer utilities {
  // buttons utils
  .erase-default {
    all: unset;
    cursor: pointer;
    box-sizing: border-box;
    user-select: none;
  }
}

