@use '@angular/material' as mat;
@use 'mixins' as m;
@use 'index' as sh3;


@include mat.elevation-classes();
@include mat.app-background();





// Define the theme object.
$shepherd-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using



html, body { height: 100vh; }
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  box-sizing: border-box;background-color: var(--culturedWhite);
};

.flexRowSpaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


//DRAG AND DROP STYLE - DRAG STYLE DIRECTIVE
.cdk-drag-preview {
  border-radius: 8px;
  box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.2),
  0 12px 20px 2px rgba(0, 0, 0, 0.14),
  0 6px 18px 3px rgba(0, 0, 0, 0.12);
  transform: rotate(2deg); /* Effet visuel de levée */
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Effet quand une zone est prête à recevoir un élément */
.cdk-drop-list-dragging {
  border: 2px dashed #666;
  background: rgba(0, 0, 0, 0.05);
}


// Forms
form {
  h2 {
    @include m.form-section-title;
  }

  input[type="checkbox"] {
    margin-right: 6px;
    accent-color: var(--baseTextColor);
  }
}





