<div class="flexRowSpaceBetween">

  <div id="availableTagsContainer"
    cdkDropList
    [cdkDropListData]="tagList"
    [cdkDropListConnectedTo]="getSongDropListConnections()"
    (cdkDropListDropped)="dropTag($event)">
    <h4 class="flexRowSpaceBetween"><mat-icon>label</mat-icon></h4>
    @for (tag of tagList; track tag) {
      <div TagStyle [text]='tag'
        cdkDrag
        [cdkDragData]="{ tag: tag, source: 'availableTags'}"
        (cdkDragStarted)="onDragStart(tag)">
      </div>
    }
  </div>
</div>

<span id="usageDescription">Drag and drop the available tags on the songs</span>
