<form [formGroup]="cabaretSettingsForm">
  <div class="headerWithSwitch">
    <h3>CABARET</h3>
    <app-toggle-button formControlName="hasCabaret"/>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Number of shows</mat-label>
    <input matInput type="number" formControlName="numberOfShows">
  </mat-form-field>

  <div *ngIf="shows?.controls?.length" formArrayName="showsDetails">
    <div *ngFor="let show of shows.controls; let i = index" [formGroupName]="i" class="flexRow">
      <h2># {{ i + 1 }}</h2>

      <mat-form-field appearance="outline">
        <mat-label>Start time</mat-label>
        <input matInput type="time" formControlName="startTime">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Select show playlist</mat-label>
        <mat-select class="fullWidth" formControlName="playlist">
        </mat-select>
      </mat-form-field>


    </div>
  </div>

</form>
