<button mat-icon-button (click)="onAdd.emit()">
  <mat-icon>add_box</mat-icon>
</button>
<button mat-icon-button (click)="onDelete.emit()">
  <mat-icon>delete</mat-icon>
</button>
<ng-container *ngIf="isAddingChild">
  <input type="text" [(ngModel)]="newChildValue" placeholder="Nom de l'enfant" />
  <button mat-icon-button (click)="onSave.emit(newChildValue)">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-icon-button (click)="onCancel.emit()">
    <mat-icon>backspace</mat-icon>
  </button>
</ng-container>
