@if (isOpen()) {
  <div class="overlay" (click)="close()"></div>

  <div class="grid-menu">
    @for (item of menuItems; track item.id; let i = $index) {
      <button
        class="menu-tile"
        [style.--i]="i"
        (click)="navigate(item.route)"
        type="button"
      >
        <sh3-icon [name]="item.icon" class="tile-icon" />
        <span class="tile-label">{{ item.label }}</span>
      </button>
    }

    <!-- Close tile -->
    <button class="menu-tile menu-tile--close" [style.--i]="menuItems.length" (click)="close()" type="button">
      <sh3-icon name="menu" size='lg' class="tile-icon" />
      <span class="tile-label">Close</span>
    </button>
  </div>
}
