<div id="playlistViewHeader">
  <h2>EDIT PLAYLIST</h2>
  <button id="closePlaylistView_button" (click)="playlistDisplayService.closePlaylistInSidenav()"><mat-icon>close</mat-icon></button>
</div>

<form [formGroup]="playlistForm">
  <div class="topInfos">
    <label>Name:</label>
    <input matInput type="text" formControlName="name">
    <app-playlist-short-infos
        [energyControl]="getControl('energy')"/><!--TODO: envoyer les form controls-->
  </div>

  <!--TRACK LIST-->
  <h3>Song list</h3>
  <button class="button-16" (click)="playlistDisplayService.openLibraryView()">
    <mat-icon>library_add</mat-icon>
    Add Song
  </button>

    <div cdkDropList class="song-list" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let song of playlist?.songList || [];
           trackBy: trackSong"
           cdkDrag
           class="song">
        <app-track-line [song]="song" />
      </div>
    </div>

    <!--NOTES-->
    <h3>Add notes</h3>
    <input matInput type="text" formControlName="notes" id="notes">

  </form>

  <button class="button-16" type="submit">Save</button>

