<app-program-header />

<div class="planner">
  <!-- Timeline -->
  <div class="timeline">
    <div class="time-column">
      <div class="time-header"></div>
      <div class="header-separator"></div>
      <app-time-markers  />
    </div>

    <!-- ROOMS -->
    <div class="rooms-container">

      @for (room of rooms(); track room.id) {
        <div class="room-column">
          <div class="room-header">
            {{ room.name }}

            @if (!isBaseRoom(room)) {
              <button class="room-delete" (click)="removeRoom(room.id)">✕</button>
            }
          </div>
          <div class="header-separator"></div>

          <div
            class="slots-layer"
            #roomLayer
            [attr.data-room-id]="room.id"
            [style.height.px]="timelineHeight"
            [style.background-position]="'0px -' + gridOffsetPx + 'px'">

            @for (slot of getSlotsForRoom(room.id); track slot.id) {
              <app-performance-slot
                [slot]="slot"
                (slotPointerDown)="startSlotDrag($event, slot)"
                (slotResizeStart)="startSlotResize($event, slot)"
                (editSlot)="openEditPerformanceSlotPopover($event)"
              />
            }

            <!-- Preview -->
            @if (previewTemplate && previewRoomId === room.id) {
              <div
                class="slot preview"
                [style.top.px]="previewTop"
                [style.height.px]="getSlotHeight(previewTemplate.duration)"
              >
                {{ previewTemplate.type }}
              </div>
            }

          </div>

        </div>
      }

    </div>
  </div>
</div>
