<app-program-header />

<div class="planner" #planner>
  <!-- Timeline -->
  <div class="timeline">
    <div class="time-column">
      <div class="time-header"></div>
      <div class="header-separator"></div>
      <app-time-markers  />
    </div>

    <!-- ROOMS -->
    <div class="rooms-container">

      @for (room of rooms(); track room.id) {

        <ui-room-column
          [room]="room"
          [timelineHeight]="selector.timelineHeight()"
          [gridOffsetPx]="selector.gridOffsetPx()"
          (roomDrop)="handleRoomDrop($event.roomId, $event.drag)">

          @for (block of getBlocksForRoom(room.id); track block.id) {

            @if (block.type === 'slot') {

              <ui-program-slot
                [slot]="block.slot"
                [slotStartTime]="selector.getSlotStartTime(block.slot)"
                [slotEndTime]="selector.getSlotEndTime(block.slot)"

                uiDndDrag
                [dndType]="'slot'"
                [dndData]="block.slot"
                (dragStart)="startSlotDrag($event, block.slot)"

                uiDndDropZone
                [dropZone_id]="block.slot.id"
                [dropZoneAccept]="['artist','group']"
                (uiDndDrop)="handleSlotDrop(block.slot.id, $event)"

                [isDragging]="draggingIds().includes(block.slot.id)"

                (slotPointerDown)="handleSlotPointerDown($event)"
                (slotResizeStart)="startSlotResize($event, block.slot)"
                (removeArtist)="handleRemoveArtistFromSlot($event)"
                (editSlot)="openEditPerformanceSlotPopover($event)" />

            }

            @if (block.type === 'buffer') {

              <ui-buffer-slot
                [startMinutes]="block.startMinutes"
                [duration]="block.duration" />

            }
          }

          @for (cue of selector.cuesByRoom().get(room.id) ?? []; track cue.id) {
            <ui-timeline-cue
              [top]="getCueTop(cue)"
              [label]="cue.label"
              [type]="cue.type ?? 'default'"
              (click)="selectCue(cue, $event)"
            />
          }

        </ui-room-column>
      }
    </div>
  </div>
</div>
