<app-program-header />

<div class="planner" #planner>
  <!-- Timeline -->
  <div class="timeline">
    <div class="time-column">
      <div class="time-header"></div>
      <div class="header-separator"></div>
      <app-time-markers  />
    </div>

    <!-- ROOMS -->
    <div class="rooms-container">

      @for (room of rooms(); track room.id) {

        <ui-room-column
          [room]="room"
          [timelineHeight]="selector.timelineHeight()"
          [gridOffsetPx]="selector.gridOffsetPx()"
          (roomDrop)="handleRoomDrop($event.room_id, $event.drag)">

          @for (block of getBlocksForRoom(room.id); track block.id) {

            @if (block.type === 'slot') {
              @let slot = block.slot;

              <ui-program-slot
                [slot]="block.slot"
                [slotStartTime]="selector.getSlotStartTime(slot)"
                [slotEndTime]="selector.getSlotEndTime(slot)"

                uiSelectable
                uiDndDrag
                [dndType]="'slot'"
                [dndData]="block.slot"
                (dragStart)="startSlotDrag($event, slot)"

                uiDndDropZone
                [dropZone_id]="block.slot.id"
                [dropZoneAccept]="['artist','group']"
                (uiDndDrop)="handleSlotDrop(slot.id, $event)"

                [isDragging]="draggingIds().includes(slot.id)"

                (slotPointerDown)="handleSlotPointerDown($event)"
                (slotResizeStart)="startSlotResize($event, slot)"
                (removeArtist)="handleRemoveArtistFromSlot($event)"
                (editSlot)="openEditPerformanceSlotPopover($event)" />

            }


          }

          @for(buffer of selector.buffersByRoom().get(room.id); track buffer.id) {
            <ui-buffer-slot
              uiSelectable
              [buffer]="buffer"
              (onResizeStart)="startBufferResize($event, buffer)"
            />
          }



          @for (cue of selector.cuesByRoom().get(room.id) ?? []; track cue.id) {
            <ui-timeline-cue
              [cue]="cue"

              uiSelectable
              (click)="selectCue(cue, $event)"
            />
          }

        </ui-room-column>
      }
    </div>
  </div>
</div>
