//----------Form Display------------//
$form-block-padding: 1.25rem;
$form-block-radius: 6px;


//----------Form Fields------------//
$form-field-height: 2.5rem;
$form-field-radius: 7px;
$form-field-grid-gap: 1rem;
$form-field-padding: 0.4rem 0.6rem;
$form-field-fontSize: 1rem;
$form-field-label-fontSize: 0.8rem;



//----------Form colors------------//
$form-bgColor: rgb(47, 49, 49);

//dark
$form-block-bgColor-dark: rgb(51, 56, 56);
$form-field-borderColor-dark: rgba(253, 255, 255, 0.15);
$form-field-bgColor-dark: #3d4242;
$form-field-focus-outlineColor: rgba(253, 255, 255, 0.4);



//light
$form-block-bgColor-light: rgba(125, 139, 141, 0.07);
$form-field-bgColor-light: rgb(246, 242, 242);
