$tab-height: 1.5rem;
$tab-padding: 0.5rem 1rem;
$tab-border-radius: 6px 6px 0 0;
$tab-fontSize: 0.95rem;
$tab-fontWeight: 300;

$tab-bgColor-dark: rgba(253, 255, 255, 0.03);
$tab-bgColor-active-dark: rgba(253, 255, 255, 0.20);

$tab-bgColor-light: rgba(138, 141, 141, 0.2);
$tab-bgColor-active-light: #FFFFFF;

$tab-header-gap: 0.25rem;
$tab-header-borderBottom-color-dark: rgba(255, 255, 255, 0.05);
