<app-header class="[grid-area:header]"/>

<appMenu class="[grid-area:menuLeft]" />

<div class="[grid-area:content]">
  <div class="content">

    <div class="panel panel-left" [ngClass]="{ 'hidden': !hasLeftPanel(), 'panel--over': leftPanelMode() === 'over', 'panel--push': leftPanelMode() === 'push' }">
      <ng-template #leftPanelContainer />
    </div>

    <div class="main-content">
      <router-outlet />
    </div>

    <div class="panel panel-right" [ngClass]="{ 'hidden': !hasRightPanel(), 'panel--over': rightPanelMode() === 'over', 'panel--push': rightPanelMode() === 'push' }">
      <ng-template #rightPanelContainer />
    </div>

    <div class="context-menu w-appMenu shadow-md bg-menu sm:none" [ngClass]="{ 'hidden': hasContextMenu() }">
      <ng-template #contextMenuContainer />
    </div>

    <div class="popover-layer" [ngClass]="{ 'hidden': !hasPopover() }">
      <ng-template #popoverContainer />
    </div>
  </div>

  <sh3-toast-container />

</div>
