<app-header class="[grid-area:header]"/>

<appMenu class="[grid-area:menuLeft]" />

<div class="[grid-area:content]">
  <div class="content">

    <div class="panel" [ngClass]="{ 'hidden': !hasLeftPanel() }">
      <ng-template #leftPanelContainer />
    </div>

    <div class="main-content">
      <router-outlet />
    </div>

    <div class="panel" [ngClass]="{ 'hidden': !hasRightPanel() }">
      <ng-template #rightPanelContainer />
    </div>

    <div class="context-menu w-appMenu shadow-md bg-menu sm:none" [ngClass]="{ 'hidden': hasContextMenu() }">
      <ng-template #contextMenuContainer />
    </div>

    <div class="popover-layer" [ngClass]="{ 'hidden': !hasPopover() }">
      <ng-template #popoverContainer />
    </div>
  </div>

</div>
