@use "tokens" as t;
@use "mixins" as m;


:host {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: grid;

  /* Colonnes */
  grid-template-columns:
    var(--w-appMenu)   /* menu left */
    1fr;                  /* content */

  grid-template-rows:
    var(--header-height)  /* header */
    92vh;                   /* content area */

  /* Areas */
  grid-template-areas:
    "header     header"
    "menuLeft   content";

  --header-height: 64px;
  --footer-height: 300px;

  background-color: var(--color-background);
}

//----------vertical structure----------//


.app-footer {
  width: 100%;
  flex: 0 0 auto;
  height: 300px;
  background-color: var(--color-surface);
  z-index: 1;
}

//----------main layout - application content----------//
//for left and right panels
.panel{
  width: var(--sidePanel-w);
  @include m.sidePanels;
}

.context-menu {
  flex-shrink: 0;
  z-index: 20;
}



//---------Media query----------//

@media (max-width: 768px) {
  :host {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "content"
      "footer";
  }
}
