<form>
  <app-wizard-container [dotNavigation]="false">
    <app-wizard-step>
      <app-form-block [title]="'SELECT OR ADD MUSIC'" [disabled]="false">

        <sh3-input type="text"
         label='title'
         placeholder="Enter music title"
         [formControl]="musicFormGroup.get('title')"
         [required]="true" />

        <sh3-input type="text"
          label='artist'
          placeholder="Enter artist name"
          [formControl]="musicFormGroup.get('artist')" />



        <div class="musicMatchTable" label="Select a matching song">
          <ng-container *ngIf="matchedTracks.length !== 0 ; else noTracksFound">
            <div
              *ngFor="let track of matchedTracks"
              class="entry"
              [ngClass]="{ 'selected': track.id === selectedTrackId }"
              (click)="selectTrack(track)"
            >
              {{ track.title }} - {{ track.artist }}
            </div>
          </ng-container>

          <ng-template #noTracksFound>
            <p>No matching tracks found. Please add a track.</p>

            <div class="addNewTrack" (click)="addNewTrack()">
              <span class="material-icons">add</span>
              Add new track
            </div>
          </ng-template>
        </div>

      </app-form-block>


    </app-wizard-step>

    <app-wizard-step>
      <app-form-block [title]="'Version details'" [disabled]="false">
        <div class="versionDetails">
          <select [formControl]="versionFormGroup.get('versionType')">
            <option value="" disabled>Select Type</option>
            <option value="original">Original</option>
            <option value="cover">Cover</option>
            <option value="remix">Remix</option>
          </select>

          <select [formControl]="versionFormGroup.get('genre')">
            <option value="" disabled>Select a genre</option>
            <option>Jazz</option>
          </select>

          <sh3-input type="text"
                     class="fullRow"
                     placeholder="Enter version name"
                     [formControl]="versionFormGroup.get('versionName')" />

          <sh3-input type="text"
                     class="fullRow"
                     placeholder="Enter version artist"
                     [formControl]="versionFormGroup.get('versionName')" />
        </div>



      </app-form-block>

      <app-form-block [title]="'Version details'" [disabled]="false">
        <div class="versionDetails">
          <select [formControl]="versionFormGroup.get('versionType')">
            <option value="" disabled>Select Type</option>
            <option value="original">Original</option>
            <option value="cover">Cover</option>
            <option value="remix">Remix</option>
          </select>

          <select [formControl]="versionFormGroup.get('genre')">
            <option value="" disabled>Select a genre</option>
            <option>Jazz</option>
          </select>

          <sh3-input type="text"
                     class="fullRow"
                     placeholder="Enter version name"
                     [formControl]="versionFormGroup.get('versionName')" />

          <sh3-input type="text"
                     class="fullRow"
                     placeholder="Enter version artist"
                     [formControl]="versionFormGroup.get('versionName')" />
        </div>


      </app-form-block>

    </app-wizard-step>
  </app-wizard-container>

  <!--
  <div class="form-navigation">
    <button type="submit" (click)="submit()" *ngIf="currentStep === 2">Submit</button>
  </div>
  -->
</form>
