@use 'tokens' as t;

:host {
  position: relative;
}

.wizard-viewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.wizard-slider {
  display: flex;
  transition: transform 0.4s ease-in-out;
  width: 100%;
}

.wizard-step {
  flex: 0 0 100%;
  width: 100%;
  box-sizing: border-box;
}

.wizard-navigation {
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: absolute; /* ou fixed selon le contexte */
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}


.wizard-dots {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  .dot {
    width: 10px;
    height: 10px;
    margin: 0 6px;
    border-radius: 50%;
    background-color: var(--colorPrimaryMenus);
    cursor: pointer;
    transition: background-color 0.3s;

    &.active {
      background-color: var(--primaryTextColor);
    }
  }
}
