<div class="wizard-viewport">
  <div class="wizard-slider">
    <ng-container *ngFor="let step of steps.toArray(); let i = index">
      <div class="wizard-step" *ngIf="i === currentStep">
        <ng-template [ngTemplateOutlet]="step.templateRef" />
      </div>
    </ng-container>
  </div>
</div>


<div class="wizard-navigation">
  <button type="button" (click)="previousStep()"
          [disabled]="currentStep === 0">Previous</button>
  <button type="button" (click)="nextStep()"
          [disabled]="currentStep === maxStep">Next
  </button>
</div>

<!-- Dots navigation -->
<ng-container *ngIf="dotNavigation">
  <div class="wizard-dots">
  <span
    *ngFor="let step of steps.toArray(); let i = index"
    class="dot"
    [class.active]="i === currentStep"
    (click)="goToStep(i)">
  </span>
  </div>

</ng-container>
