<div id="monthlyCal">
  <div id="miniCal_header" class="calendarPage-header">
    <button id="prevMonthButton" class="miniCal_button" (click)="prevMonth()"><</button>
    <span>{{ monthArray[currentMonth] }} {{ currentYear }}</span>
    <button id="nextMonthButton" class="miniCal_button" (click)="nextMonth()">></button>
  </div>

  <div id="days-of-week" class="days-grid">
    @for (day of ['S', 'M', 'T', 'W', 'T', 'F', 'S']; track day; let i = $index) {
      <span
        class="day-of-week"
        [ngClass]="{'underlineCurrentDay': i === currentWeekDay}"
        >
        {{ day }}
      </span>
    }
  </div>

  <div class="days-grid">
    @for (_ of emptyDaysArray; track _) {
      <span class="day empty"></span>
    }
    @for (date of daysInMonth; track date) {
      <span
        class="day"
        [ngClass]="{'miniCal_focus': selectedDate && date.getTime() === selectedDate.getTime()}"
        (click)="selectDate(date)">
        {{ date.getDate() }}
      </span>
    }
  </div>

</div>
