<div class="header-left">
  <div class="program-title">
    <input
      class="title-input"
      type="text"
      [ngModel]="name()"
      (ngModelChange)="settings.changeProgramName($event)"
    />
  </div>

  <div class="program-time">
    <label>
      <span class="label-text">Start</span>
      <input
        type="time"
        [ngModel]="startTime()"
        (ngModelChange)="settings.changeStartTime($event)"
      />
    </label>

    <span class="separator">→</span>

    <label>
      <span class="label-text">End</span>
      <input
        type="time"
        [ngModel]="endTime()"
        (ngModelChange)="settings.changeEndTime($event)"
      />
    </label>
  </div>
</div>

<!-- Floating menu for program actions -->
<app-program-action-menu />
