<div class="custom-select">
  <div class="select-label" (click)="toggleDropdown()">
    {{ selectedLabels.length ? selectedLabels.join(', ') : 'Select items' }}
  </div>

  <div class="dropdown" *ngIf="dropdownOpen" (click)="$event.stopPropagation()">
    <label *ngFor="let option of options">
      <input type="checkbox"
             [checked]="isSelected(option?.[valueKey])"
             (click)="$event.stopPropagation()"
             (change)="onCheckboxChange($event, option?.[valueKey])" />
      {{ option[labelKey] }}
    </label>
  </div>
</div>
