<div class="custom-select">
  <div class="select-label" (click)="toggleDropdown()">
    {{ selectedLabels.length ? selectedLabels.join(', ') : 'Select items' }}
  </div>

  <div class="dropdown" *ngIf="dropdownOpen" (click)="$event.stopPropagation()">
    <label *ngFor="let option of options">
      <input type="checkbox"
             [checked]="isSelected(getOptionValue(option))"
             (click)="$event.stopPropagation()"
             (change)="onToggle(getOptionValue(option), checkbox.checked)"
             #checkbox />
      {{ getOptionLabel(option) }}
    </label>
  </div>
</div>
