<div class="currentContract">
  Favorite Contract
</div>

<data-list
  [data]="contracts()"
  [column]="[
  { fromKey: 'company_name', label: 'company' },
  { fromKey: 'status' },
  { fromKey: 'startDate', label: 'start date', pipe: 'date', pipeArgs: ['shortDate'] },
  { fromKey: 'endDate', label: 'end date', pipe: 'date', pipeArgs: ['shortDate'] }
  ]"
  [rowActionsTemplate]="actionsTemplate"
/>

<!-- row action template -->
<ng-template #actionsTemplate let-contract>
  <sh3-button-icon icon='edit' (clicked)="edit(contract)"/>
</ng-template>

