<div id="playlistViewHeader">
  <h2>EDIT {{ playlist.settings.name }}</h2>
  <button id="closePlaylistView_button" (click)="playlistDisplayService.closePlaylistInSidenav()"><mat-icon>close</mat-icon></button>
</div>

<form [formGroup]="playlistForm">
  <ng-container formGroupName="settings">
    <input type="text" formControlName="name" StyledInput label="playlist name">

    <input type="text" formControlName="description" StyledInput label="description">

    <div style="display: flex; flex-direction: row; justify-content: space-around;">
      <select formControlName="usage" StyledInput label="usage">
        <option value="daily">Daily</option>
        <option value="event">Event</option>
      </select>

      <input type="number" min="5" step="5" formControlName="requiredLength" StyledInput label="duration">
      <input type="number" min="1" step="1" formControlName="numberOfSongs" StyledInput label="songs">
      <input type="number" min="1" max='4' step="1" formControlName="energy" StyledInput label="energy">
    </div>
  </ng-container>

  <!--SETTINGS SECTION
  <plv-section-container #settingsSectionContainer>
    <plv-section-header sectionHeader [sectionTitle]="'Settings'" (openSection)="settingsSectionContainer.onHeaderToggle($event)"/>
    <ng-container sectionContent *ngIf="settingsSectionContainer.isExpanded" formGroupName="settings">



      <div class="flexRowSpaceBetween">
        <div><mat-icon>music_video</mat-icon> Song number</div>
        <input type="number" min="1" step="1" formControlName="numberOfSongs">
      </div>


      <div class="flexRowSpaceBetween">
        <div><mat-icon>airplanemode_active</mat-icon>aerial</div>
        <input type="checkbox" formControlName="aerial">
      </div>


      <button>GENERATE</button>
    </ng-container>
  </plv-section-container>-->


  <plv-section-container #tracklistSectionContainer [isExpanded]="true">
    <plv-section-header sectionHeader [sectionTitle]="'TrackList'" (openSection)="tracklistSectionContainer.onHeaderToggle($event)"/>
    <ng-container sectionContent *ngIf="tracklistSectionContainer.isExpanded">

      <available-tags #availableTags [tagList]="playlistFormService.getAvailableTags()"/>

      <app-song-list-dnd />
    </ng-container>
  </plv-section-container>


</form>

<button class="button-16" type="submit" (click)="savePlaylist()">Save</button>



