<div id="playlistViewHeader">
  <h3>EDIT {{ playlist.settings.name }}</h3>
  <button id="closePlaylistView_button" class="button-16" (click)="playlistDisplayService.closePlaylistInSidenav()"><mat-icon>close</mat-icon></button>
</div>

<form [formGroup]="playlistForm">
  <!--SETTINGS-->
  <plv-section-container [title]="'settings'" [isExpanded]="false" [nestingLevel]="1">
    <ng-container section formGroupName="settings">
      <div style="display: flex; flex-direction: column; gap: 0.75rem; padding: 0.25rem;">
        <input type="text" formControlName="name" StyledInput label="name">
        <input type="text" formControlName="description" StyledInput label="description">

        <div style="display: flex; flex-direction: row; justify-content: space-around;">
          <select formControlName="usage" StyledInput label="usage">
            <option value="daily">Daily</option>
            <option value="event">Event</option>
          </select>

          <input type="number" min="5" step="5" formControlName="requiredLength" StyledInput label="duration">
          <input type="number" min="1" step="1" formControlName="numberOfSongs" StyledInput label="songs">
          <input type="number" min="1" max='4' step="1" formControlName="energy" StyledInput label="energy">

        </div>

        <div style="display: flex; flex-direction: column;">
          <input type="checkbox" formControlName="singers" StyledCheckbox label="singers">
          <input type="checkbox" formControlName="musicians" StyledCheckbox label="musicians">
          <input type="checkbox" formControlName="aerial" StyledCheckbox label="aerial">
        </div>
      </div>

    </ng-container>
  </plv-section-container>

  <plv-section-container [title]="'Performers'" [isExpanded]="true">
    <ng-container section formGroupName="performers">

      <plv-section-container [title]="'Singer configuration'" [isExpanded]="true" [nestingLevel]="2">
        <ng-container section formGroupName="singersConfig">
          <div style="display: flex; flex-direction: row; justify-content: space-around;">
            <input type="number" min="1" step="1" formControlName="numberOfSingers" StyledInput label="Quantity">
            <select formControlName="splitMode" StyledInput label="split mode">
              <option value="alternate">Alternate</option>
              <option value="equal_split">Divide Equally</option>
            </select>
            <input type="checkbox" formControlName="containsDuo">
          </div>
        </ng-container>
      </plv-section-container>

      <plv-section-container [title]="'Musicians configuration'" [isExpanded]="false" [nestingLevel]="2">
        <ng-container section formGroupName="singersConfig">


        </ng-container>
      </plv-section-container>

      <plv-section-container [title]="'Aerial configuration'" [isExpanded]="false" [nestingLevel]="2">
        <ng-container section formGroupName="aerialConfig">
          <select formControlName="performancePosition" StyledInput label="position">
            <option value="start">start</option>
            <option value="end">end</option>
            <option value="manual">manual</option>
          </select>

        </ng-container>
      </plv-section-container>






    </ng-container>
  </plv-section-container>



  <plv-section-container [title]="'Song List'" [isExpanded]="true">
      <song-list-dnd section/>
  </plv-section-container>








  <button class="button-16"
          type="submit"
          (click)="submitAction()">{{ submitButtonLabel }}</button>
</form>





