<!--searchBar-->
<div id="headerAndSearch">
  <h2>MUSIC LIBRARY</h2>
</div>

<!--resultTable-->
<table id="musicTable">
  <thead id="musicTableHeader">
    <tr>
      <td class="firstCol"></td>
      <td>
        <div class="flexSpace">
          Title
          <button mat-icon-button (click)="sortByTitle()"><mat-icon>sort_by_alpha</mat-icon></button>
        </div>
      </td>
      <td class="flexSpace">
        Artist
        <button mat-icon-button (click)="sortByArtist()"><mat-icon>sort_by_alpha</mat-icon></button>
      </td>
      <td>Compatibility</td>
      <td id="colMenu">
        <input id="searchBar" type="text"
        placeholder="Search for a song..."
        [(ngModel)]="searchTerm"
        (input)="filterSongs()"/>
      </td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="addSongTableVisible">
      <tr class="addSongTr">
        <td colspan="5">
          <app-add-song-form />
        </td>
      </tr>
    </ng-container>

    <ng-container *ngFor="let music of filteredSongs; let index = index">
      <!-- music line -->
      <tr class="musicRow">
        <td >
          <button
            (click)="toggleAccordion(index)"
            [attr.aria-expanded]="expandedIndex === index ? 'true' : 'false'">
            {{ expandedIndex === index ? '-' : '+' }}
          </button>
        </td>
        <td>{{ music.title }}</td>
        <td>{{ music.artist }}</td>
        <td>{{ music.availability }}</td>
        <td>
          <button mat-icon-button (click)="updateMusic({ music_id: music._id })"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button (click)="deleteMusic({ music_id: music._id })"><mat-icon>delete_forever</mat-icon></button>
        </td>
      </tr>
      <!-- accordion detail versions -->
      <tr *ngIf="expandedIndex === index">
        <td class="offsetCellVersion"></td>
        <td colspan="4">
            <app-version-table *ngIf="music.versions else noVersions" [versions]="music.versions" />
            <ng-template #noVersions>
              <!--Ajouter le add version-->
            </ng-template>

        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
