<div class="page-banner">MUSIC</div>

<!--Dynamic tab search bar-->
<ng-container *ngIf="getActiveTab() as tab">
  <div class="search-bar" [attr.data-tab]="tab.id">
    <input
      [(ngModel)]="tab.search"
      (ngModelChange)="applyFilter($event)"
      [placeholder]="tab.search ? '' : 'Search...'"
    />
    <span class="search-icon">🔍</span>
  </div>
</ng-container>


<div class="tab-header">
  <div class="add-tab" (click)="addNewTab()">＋</div>

  <div
    *ngFor="let tab of tabs"
    [class.active]="tab.isActive"
    (click)="activateTab(tab.id)"
    (dblclick)="enableTabNameEdit(tab)"
    class="tab"
  >
    <ng-container *ngIf="!tab.isEditing; else editTemplate">
      {{ tab.title }}
    </ng-container>

    <ng-template #editTemplate>
      <input
        type="text"
        [value]="tab.title"
        (blur)="tab.isEditing = false"
        (keydown.enter)="tab.isEditing = false"
        autofocus
      />

    </ng-template>
    <span *ngIf="tab.isDeletable" class="close" (click)="closeTab(tab.id)">✕</span>
  </div>
</div>
<!--<app-music-table />-->

<music-repertoire-table />

