#headerAndSearch{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#searchBar {
  height: 20px;
  width: 200px;
  padding: 3px;
  border: 2px solid grey;
  border-radius: 0.3rem;
}

#musicTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  text-align: left;
}

.example-accordion{
  width: 100%;
}

.firstCol {
  width: 20px;
}

#musicTable thead tr {
  border-bottom: 1px solid #3331;
  background-color: #8a8d8d;
  font-size: 14px;
}

#musicTable th {
  padding: 6px 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

#musicTable td {
  padding: 6px 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

#musicTable tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

.flexSpace {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.musicTableHeader {
  font-size: 14px;
  text-transform: capitalize;
  color: #cccccc;
}

.musicTableHeader button {
  color: #cccccc;
}
