<ng-container [formGroup]="formGroup">



  <!-- Component type selection -->
  <sh3-select class="oneCol"
    id="componentType"
    formControlName="searchMode"
    label="search mode"
    placeholder="Select a search mode"
    [options]="tabTypes" />


  <!-- Conditional user selection me / single user / multiple users-->
  <ng-container [formGroupName]="'target'">
    <sh3-select class="oneCol"
      id="targetMode"
      formControlName="mode"
      label="target mode"
      [options]="targetModes" />

    <!-- User selection for repertoire type -->
    @switch (formGroup.get('target.mode')?.value) {
      @case ('single-user') {
        <div class="fullRow">
          <sh3-select id="user"
            formControlName="singleUser_id"
            label="user"
            placeholder="Select a user"
            [options]="userList"/>
        </div>
      }
      @case ('multiple-users') {
        <!-- Multi-select dropdown for multiple users -->
        <div class="fullRow">
          <sh3-multi-select-dropdown
            label="Users"
            formControlName="multipleUsers_id"
            [options]="userList"
            label="name"
            value="id"
            />
        </div>
      }
    }
  </ng-container>

  @if (formGroup.get('target.mode')?.value === 'multiple-users') {
    <div class="fullRow">
      <sh3-checkbox
        class="fullWidth"
        label="display search as a tab folder"
        formControlName="displaySearchAsFolder" />
    </div>
  }

  <sh3-checkbox
    class="oneCol"
    label="activate data filter"
    formControlName="dataFilterActive" />

  <sh3-checkbox
    class="oneCol"
    label="activate exploitation filter"
    formControlName="exploitationFilterActive" />
</ng-container>
