<mat-sidenav-container id="wsPage_Calendars">
  <mat-sidenav id="leftSidenav" #leftSidenav mode="side" [opened]="false">
    <app-date-picker-calendar />
  </mat-sidenav>
  <mat-sidenav id="rightSidenav" #rightSidenav position="end" mode="side" [opened]="false">
    <app-event-reactform />
  </mat-sidenav>

  <section #calendarContainer id="calContainer">
    <app-calendar-hours-grid/> <!--on va mettre tout le background ici-->

    <app-planningGrid
      *ngFor="let planning of calendarDataSignal().calendarData.plannings"
      [events] = "getPlanningEvents(planning)"/>

  </section>

  </mat-sidenav-container>

<app-appMenu [menuItems]="[]" />
