:root{
  --paddingRight: 44px;
}
:host {
  display: flex;
  flex-direction: row;
  background-color: #262728;
  width: 100%;
}

#wsPage_Calendars{
  width: 100%;
}

#calContainer {
  width: 100%;
  background-color: #262728;
}

#leftSidenav {
  width: 15vw;
  background-color: #C7C7CC;
  color: #414344;
  border-radius: 1px;
}

#rightSidenav {
  width: 25vw;
  background-color: #C7C7CC;
  color: #414344;
  border-radius: 1px;
}

mat-sidenav{
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  width: 4vw;
  flex-shrink: 0;
}

