<mat-sidenav-container id="wsPage_Calendars">
  <mat-sidenav id="leftSidenav" #leftSidenav mode="side" [opened]="false">
    <app-date-picker-calendar />
  </mat-sidenav>
  <mat-sidenav id="rightSidenav" #rightSidenav position="end" mode="side" [opened]="false">
    <app-event-reactform />
  </mat-sidenav>

  <section id="calContainer">
    <app-planningGrid
      [calendarData]="calendarDataSignal()"
      [layout]="calendarDataSignal().layout" />

    <app-calendar-hours-grid
      [gridRowsNumber]="calendarDataSignal().layout.gridRowsNumber"
      [hoursList]="calendarDataSignal().timestamps.hoursList" />
  </section>

  </mat-sidenav-container>

<app-appMenu [menuItems]="[]" />
