<ng-container [formGroup]="formGroup">
  <sh3-multi-select-dropdown
    class="oneCol"
    label="genre"
    formControlName = "genre"
    [options]="[{ label: 'jazz', value: 'jazz' }, { label: 'rock', value: 'rock' }, { label: 'pop', value: 'pop' }]"
    label="label"
    value="value"
  />

  <sh3-multi-select-dropdown
    labelText="energy"
    formControlName = "genre"
    [options]="[{ label: 1, value: 1 }, { label: 2, value: 2 }, { label: 3, value: 3 }]"
    label="label"
    value="value"
  />

  <sh3-multi-select-dropdown
    class="fullWidth"
    label="effort"
    formControlName = "effort"
    [options]="[{ label: 1, value: 1 }, { label: 2, value: 2 }, { label: 3, value: 3 }]"
    label="label"
    value="value"
/>
</ng-container>
