<ui-card-frame-horizontal [dragIcon]="true" (pointerdown)="dragStart.emit(template())" (dblclick)="onEdit()">

  <div card-left class="template-accent" [style.background]="template().color"></div>

  <div class="template-content" card-content>
    <div class="template-header">

      <div class="template-title">{{ template().type }}</div>

      <div class="template-duration">
        {{ template().duration }} min
      </div>

    </div>

    <div class="template-badges">

      @if (template().playlist) {
        <span class="badge playlist">
          🎧 Playlist
        </span>
      }

      @if (template().song) {
        <span class="badge song">
          🎵 Song
        </span>
      }

      @if (template().technicianRequired) {
        <span class="badge tech">
      🛠 Tech
    </span>
      }

    </div>
  </div>

  <div card-actions>
  </div>

</ui-card-frame-horizontal>
