:host {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5%;
  width: 50%;
  border-radius: 1rem 0 0 1rem;
  background-color: var(--colorDarkMenus);
}

h1 {
  color: #ebebee;
}

mat-form-field {
  width: 90%;
}

:host button {
  border-radius: 0.2rem;
}
