:root {
    --tableTopBackgroundColor: rgb(29, 29, 30);
    --tableHeaderBackgroundColor: #f5f7f8;
    --tableBackgroundColor: rgb(61, 66, 70);
    --fontColorNightMode: #e2e5e8;
    --colorDarkMenus: #191c1e;
    --colorMidDarkGrey:#2d2e31;
    --colorMidGrey:#414344;
    --colorFadedGrey: #8a8d8d;
    --colorLightGrey: #f5f7f8;
}

/* LAYOUT */
* {
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Helvetica", "Verdana", monospace;
}

#leftPermanentMenu {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    width: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--colorDarkMenus);
}

.button_lpm {
    border: none;
    background: none;
    color: var(--colorFadedGrey);
    cursor: pointer;
}

.button_lpm:hover {
    color: var(--colorLightGrey);
}

.menuIcons{
    color: var(--colorFadedGrey);
    cursor: pointer;
    width: 25px;
    stroke-width:20;
}

/*GENERAL LAYOUT*/
#mainContainer {
    display:flex;
    flex-direction: column;
    height:100%;
    width: 100%;

}

/*TOP MENU*/
#topMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: var(--colorMidDarkGrey);
}

#iconMe {
    width: 4rem;
    height: 4rem;
    border: 2px solid  var(--colorFadedGrey);
    color: var(--colorFadedGrey);
    border-radius: 0.2rem;
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    align-content: center;
}

/*WORK SECTION */

#appPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;

}

#appMenus {
    display: flex;
    height: 100%;
}

.workspaceMenu {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 2.5rem;
    align-items: center;
    justify-content: space-around;
    padding-top: 0.5rem;
    gap: 2rem;
    font-size: 1rem;
    background-color: var(--colorDarkMenus);
    color: var(--colorFadedGrey);
}

#appElements {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#popMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex-shrink: 0;
    width: 20rem;
    background-color: var(--colorMidGrey);
    color: var(--colorLightGrey);
}





/*CALENDARS*/
#dpMenu {
    background-color: #282c2d;
    border-right: 2px solid #191c1e;
    visibility: visible;
}


#mainPart {
    display: grid;
    grid-template-rows: 1fr 10fr;
    background-color: #f5f7f8;
    overflow-y: scroll;

}

#controls {
    width: 100%;
    height: 100px;
}

.material-symbols-sharp {
    font-variation-settings:
            'FILL' 2,
            'wght' 300,
            'GRAD' 0,
            'opsz' 24
}

.calModeControls{
    cursor: pointer;
    background: none;
    border: 1px solid #8a8d8d;
    border-radius: 0.2rem;
    color: #8a8d8d;
    padding: 2px;
}



/*MAIN CALENDAR STYLE*/
#calendars {
    display: flex;
    flex-direction: row;
}

#calHeaderMatrix {
    display: grid;
    grid-template-rows: repeat(3, 1rem);
    flex:1;
}

#calHeaderMatrix span {
    width: 100%;
    height: 100%;
    color: #f5f7f8;
    justify-items: center;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
}



/*The calendar grid*/
.dpCalendar {
    display: grid;
    /*grid-template-rows: repeat(600, 18px);*/
    flex:1;
}


#pcpContainer {
    display: flex;
    flex-direction: row;

}

.miniBlock {
    width: 18px;
}

.block {
    box-sizing: border-box;
}



.color[data-type="getIn"] {
    background-color: rgba(255, 32, 78, 0.6);
    border-left: 5px solid rgba(255, 32, 78, 0.9);
}

.color[data-type="techSetUp"] {
    background-color: rgba(242, 97, 63, 0.6);
    border-left: 5px solid rgba(242, 97, 63, 0.9);
}

.color[data-type="private"] {
    background-color: rgba(234, 185, 93, 0.6);
    border-left: 5px solid rgba(234, 185, 93, 0.9);
}

.color[data-type="rehearsal"] {
    background-color: rgba(76, 205, 153, 0.6);
    border-left: 5px solid rgba(76, 205, 153, 1);
}

.color[data-type="meeting"]{
    background-color: rgba(166, 243, 222, 0.6);
    border-left: 5px solid rgba(166, 243, 222, 0.9);
}

.color[data-type="show"]{
    background-color: rgba(166, 197, 243, 0.6);
    border-left: 5px solid rgba(166, 197, 243, 0.9);
}

.block_resume {
    display: inline-flex;
    flex-direction: row;
    gap: 0.5rem;
    font-weight: 800;

    text-transform: uppercase;
}


/*FILTERS*/
#filters {
    border-bottom: 1px solid rgba(138, 141, 141, 0.2);
}

.filterHeader{
    margin-left: 0.4rem;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: lighter;
    color: #8a8d8d;
}

.filterDiv{
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
    margin-left: 0.2rem;
}

.filterCheckbox {
    border-radius: 0.4rem;
}



.filterLabel {
    color: #f5f7f8;
    text-transform: capitalize;
    font-size: 0.9rem;
    margin-left: 0.5rem;
}



/*PERM MENU*/

.permMenuItems {
    width: 48px;
}

.leftPageMenuContainer{

}



#leftPanel {
    display: flex;
    flex-direction: column;
    width: 12.5%;
    border-radius: 0.4rem;
    background-color: #676b6c;

}


.icon {
    color: #f5f7f8;
    padding: 0.3rem;
}

.icon:hover {
    color: #f60227;
    cursor: pointer;
}









/*
*
*
*/




/*BLOCK CONTENT*/

.blockContentTitle {
    margin: 0.1rem;
    font-size: 0.6rem;
}

.blockContentDescription {
    margin: 0.2rem;
    font-size: 0.6rem;
    list-style: none;
    padding-left: 0;
}


