:root {
    --tableTopBackgroundColor: rgb(29, 29, 30);
    --tableHeaderBackgroundColor: #f5f7f8;
    --tableBackgroundColor: rgb(61, 66, 70);
    --fontColorNightMode: #e2e5e8;
    --colorDarkMenus: #191c1e;
    --colorMidDarkGrey:#2d2e31;
    --colorMidGrey:#414344;
    --colorFadedGrey: #8a8d8d;
    --colorLightGrey: #f5f7f8;
}

/* LAYOUT */
* {
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Helvetica", "Verdana", monospace;
}

#leftPermanentMenu {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    width: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--colorDarkMenus);
}

.button_lpm {
    border: none;
    background: none;
    color: var(--colorFadedGrey);
    cursor: pointer;
}

.button_lpm:hover {
    color: var(--colorLightGrey);
}

.menuIcons{
    color: var(--colorFadedGrey);
    cursor: pointer;
    width: 25px;
    stroke-width:20;
}

/*GENERAL LAYOUT*/
#mainContainer {
    display:flex;
    flex-direction: column;
    height:100%;
    width: 100%;

}

/*TOP MENU*/
#topMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: var(--colorMidDarkGrey);
}

#iconMe {
    width: 4rem;
    height: 4rem;
    border: 2px solid  var(--colorFadedGrey);
    color: var(--colorFadedGrey);
    border-radius: 0.2rem;
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    align-content: center;
}

/*WORK SECTION */

#appPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;

}

#appMenus {
    display: flex;
    height: 100%;
}

.workspaceMenu {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 2.5rem;
    align-items: center;
    justify-content: space-around;
    padding-top: 0.5rem;
    gap: 2rem;
    font-size: 1rem;
    background-color: var(--colorDarkMenus);
    color: var(--colorFadedGrey);
}

#appElements {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#popMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex-shrink: 0;
    width: 20rem;
    background-color: var(--colorMidGrey);
    color: var(--colorLightGrey);

}








/*PERM MENU*/
.icon {
    color: #f5f7f8;
    padding: 0.3rem;
}

.icon:hover {
    color: #f60227;
    cursor: pointer;
}



