#wsPage_Calendars {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#calContainer {
    display: inherit;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #262728;
}

#calendars {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-right: 2.75rem;
    padding-top: 1rem;
    overflow-y: scroll;
    z-index: 1;
}

#leftSideElements {
    display: inherit;
    flex-direction: column;
    width: 20%;
    min-width: 200px;
    height: 100rem;
    background-color: #414344;
    border-right: 2px solid #191a1a;
}

/*CALENDARS*/
#controls {
    width: 100%;
    height: 100px;
}


.calModeControls{
    cursor: pointer;
    background: none;
    border: 1px solid #8a8d8d;
    border-radius: 0.2rem;
    color: #8a8d8d;
    padding: 2px;
}



/*MAIN CALENDAR STYLE*/
#calHeaderMatrix {
    display: grid;
    position: relative;
    padding-left: 2.5rem;
    padding-right: 2.75rem;
    grid-template-rows: repeat(3, 2rem);
    z-index: 6;
}

#calHeaderMatrix span {
    width: 100%;
    height: 100%;
    color: #f5f7f8;
    justify-items: center;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;

}



/*The calendar grid*/
.dailyPlanningCalendar {
    display: grid;
    flex: 1;
    z-index: 1;
    overflow-y: scroll;
}


#pcpContainer {
    display: flex;
    flex-direction: row;
}

.miniBlock {
    width: 18px;
}

.block {
    box-sizing: border-box;
    border-radius: 0.25rem;
}



.color[data-type="getIn"] {
    background-color: rgba(255, 32, 78, 0.2);
    border-left: 0.3rem solid rgba(255, 32, 78, 1);
    color: rgba(255, 32, 78, 0.9);
}


.color[data-type="techSetUp"] {
    background-color: rgba(243, 106, 75, 0.2);
    border-left: 0.3rem solid rgba(243, 106, 75, 1);
    color: rgba(243, 106, 75, 0.9);
}

.color[data-type="private"] {
    background-color: rgba(234, 185, 93, 0.2);
    border-left: 0.3rem solid rgba(236, 198, 35, 1);
    color: rgb(236, 198, 35, 1)
}

.color[data-type="rehearsal"] {
    background-color: rgba(76, 205, 153, 0.2);
    border-left: 0.3rem solid rgba(76, 205, 153, 1);
    color: rgba(76, 205, 153, 1);
}

.color[data-type="meeting"]{
    background-color: rgba(166, 243, 222, 0.2);
    border-left: 0.3rem solid rgba(166, 243, 222, 1);
    color: rgba(166, 243, 222, 0.9);
}

.color[data-type="show"]{
    background-color: rgba(166, 197, 243, 0.2);
    border-left: 0.3rem solid rgba(169, 237, 243, 0.9);
    color:rgba(166, 237, 243, 0.9);
}

.block_resume {
    display: flex;
    flex-direction: row;
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
    gap: 0.4rem;
    font-weight: 800;
    font-size: 0.8rem;
    text-transform: uppercase;
}

/*BLOCK CONTENT*/

.blockContentTitle {
    margin: 0.1rem;
    font-size: 0.6rem;
}

.blockContentDescription {
    margin: 0.2rem;
    font-size: 0.6rem;
    list-style: none;
    padding-left: 0;
}

/*GRID AND FULL HOUR*/
#calHoursLine {
    position: absolute;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    width: 100%;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    z-index: 3;
    pointer-events: none;
}

#nowLine{
    border-bottom: 2px solid red;
    z-index:4;
}

.hoursGridElement {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(138, 141, 141, 0.25);
}

#testHour {
    position: relative;
    display:grid;
    grid-template-rows: repeat(600, 1rem);
    width: 2.5rem;
    height: 100%;
    z-index: 3;
}

.hourText {
    position: absolute;
    top: 0.45rem;
    margin-left: 3px;
    font-size: 0.75rem;
    font-weight: normal;
    color: #8a8d8d;
}

#nowText {
    position: absolute;
    top: 0.45rem;
    margin-left: 3px;
    font-size: 0.75rem;
    font-weight: normal;
    color: red;
}


/*MINI CAL*/
.monthlyCal {
    width:90%;
    min-width: 20%;
    height: 12rem;
    font-size: 0.7rem;
    font-weight: 200;
    color: #8a8d8d;
    margin: 0.4rem;
    border-bottom: 1px solid rgba(138, 141, 141, 0.2);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

}

.miniCal_button {
    background: none;
    outline: none;
    border: none;
    font-weight: bold;
    color: #8a8d8d;
    cursor: pointer;

}

.miniCal_button:hover {
    color: #f5f7f8;
}

.days-of-week, .days-grid {
    display: flex;
    flex-wrap: wrap;
}

.day-of-week, .day {
    width: calc(100% / 7);
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}

.underlineCurrentDay {
    border-bottom: 2px solid rgba(138, 141, 141, 0.5);
}

.day:hover {
    border-radius: 0.1rem;
    background-color: #3b3838;
    color: #f5f7f8;
    cursor: pointer;
}

.miniCal_focus {
    background-color: #8a8d8d;
    border-radius: 0.1rem;
    color: #191c1e;
    font-weight: bold;
}

.day.empty {
    color: #f9f9f9;
}

/*FILTERS*/
#filters {
    border-bottom: 1px solid rgba(138, 141, 141, 0.2);
    font-weight: 200;
    font-size: 0.85rem;
    text-transform: capitalize;
    color: #f5f7f8;
}

.filterHeader{
    margin-left: 0.4rem;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: lighter;
    color: #8a8d8d;
}

.filterDiv{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
    margin-left: 0.2rem;
}

.filterCheckbox {
    border-radius: 0.4rem;
}

.filterLabel {
    margin-left: 0.5rem;
}

