#wsPage_Calendars {
    display: flex;
    flex-direction: row;
}

#calendars {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #2f3031;
}

#leftSideElements {
    display: inherit;
    flex-direction: column;
    width: 20%;
    min-width: 200px;
    height: 100rem;
    background-color: #414344;
    border-right: 1px solid #8a8d8d;
}



/*MINI CAL*/
.monthlyCal {
    width:90%;
    min-width: 20%;
    height: 12rem;
    font-size: 0.7rem;
    color: #8a8d8d;
    margin: 0.4rem;
    border-bottom: 1px solid rgba(138, 141, 141, 0.2);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.miniCal_button {
    background: none;
    outline: none;
    border: none;
    font-weight: bold;
    color: #8a8d8d;
    cursor: pointer;
}

.miniCal_button:hover {
    color: #f5f7f8;

}
.days-of-week, .days-grid {
    display: flex;
    flex-wrap: wrap;
}

.day-of-week, .day {
    width: calc(100% / 7);
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}

.underlineCurrentDay {
    border-bottom: 2px solid rgba(138, 141, 141, 0.5);
}

.day:hover {
    border-radius: 0.1rem;
    background-color: #3b3838;
    color: #f5f7f8;
    cursor: pointer;
}

.miniCal_focus {
    background-color: #8a8d8d;
    border-radius: 0.1rem;
    color: #191c1e;
    font-weight: bold;
}

.day.empty {
    color: #f9f9f9;
}

/*CALENDARS*/
#controls {
    width: 100%;
    height: 100px;
}


.calModeControls{
    cursor: pointer;
    background: none;
    border: 1px solid #8a8d8d;
    border-radius: 0.2rem;
    color: #8a8d8d;
    padding: 2px;
}



/*MAIN CALENDAR STYLE*/


#calHeaderMatrix {
    display: grid;
    grid-template-rows: repeat(3, 1rem);
    flex:1;
}

#calHeaderMatrix span {
    width: 100%;
    height: 100%;
    color: #f5f7f8;
    justify-items: center;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
}



/*The calendar grid*/
.dpCalendar {
    display: grid;
    /*grid-template-rows: repeat(600, 18px);*/
    flex:1;
}


#pcpContainer {
    display: flex;
    flex-direction: row;

}

.miniBlock {
    width: 18px;
}

.block {
    box-sizing: border-box;
    border-radius: 0.25rem;
}



.color[data-type="getIn"] {
    background-color: rgba(255, 32, 78, 0.2);
    border-left: 5px solid rgba(255, 32, 78, 0.9);
    color: rgba(255, 32, 78, 0.9);
}

.color[data-type="techSetUp"] {
    background-color: rgba(242, 97, 63, 0.2);
    border-left: 5px solid rgba(242, 97, 63, 0.9);
    color: rgba(242, 97, 63, 0.9);
}

.color[data-type="private"] {
    background-color: rgba(234, 185, 93, 0.2);
    border-left: 5px solid rgba(236, 198, 35, 0.9);
    color: rgb(236, 198, 35, 1)
}

.color[data-type="rehearsal"] {
    background-color: rgba(76, 205, 153, 0.2);
    border-left: 5px solid rgba(76, 205, 153, 1);
    color: rgba(76, 205, 153, 1);
}

.color[data-type="meeting"]{
    background-color: rgba(166, 243, 222, 0.2);
    border-left: 5px solid rgba(166, 243, 222, 0.9);
    color: rgba(166, 243, 222, 0.9);
}

.color[data-type="show"]{
    background-color: rgba(166, 197, 243, 0.2);
    border-left: 5px solid rgba(169, 237, 243, 0.9);
    color:rgba(166, 237, 243, 0.9);
}

.block_resume {
    display: inline-flex;
    flex-direction: row;
    padding: 0.2rem 0.8rem 0.2rem 0.2rem;
    gap: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
}


/*FILTERS*/
#filters {
    border-bottom: 1px solid rgba(138, 141, 141, 0.2);
}

.filterHeader{
    margin-left: 0.4rem;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: lighter;
    color: #8a8d8d;
}

.filterDiv{
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
    margin-left: 0.2rem;
}

.filterCheckbox {
    border-radius: 0.4rem;
}



.filterLabel {
    color: #f5f7f8;
    text-transform: capitalize;
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

