<nav aria-label="Main Menu">
  @for (it of items; track trackById($index, it)) {
    <!-- navigation items -->
    @if (it.route) {
      <a
        [class.disabled]="it.disabled"
        [routerLink]="it.route"
        routerLinkActive="active"
        [attr.aria-disabled]="it.disabled || null">
        @if (it.icon) {
          <i aria-hidden="true"></i>
        }
        <!--<span class="label">{{ it.label }}</span>-->
        <sh3-svg-icon [name]="it.icon" class="icon"/>
      </a>
    } @else {
      <button type="button"
        class="menu-item"
        [disabled]="it.disabled"
        (click)="command.emit(it)">
        @if (it.icon) {
          <i aria-hidden="true"></i>
        }
        <!--<span class="label">{{ it.label }}</span>-->
        <sh3-svg-icon [name]="it.icon" class="icon"/>
      </button>
    }
    <!-- command items -->
  }
</nav>
