<app-side-panel-section [title]="'slot templates'">
  <div section-actions>
    <button
      class="section-action-btn"
      (click)="openTemplatePopover('create'); $event.stopPropagation()">

      <span class="action-icon">+</span>
      Add
    </button>
  </div>

  <div section-content class="template-list">
    @for (template of config.templates; track template.id) {
      <app-slot-template-card
        [template]="template"
        (pointerdown)="onTemplateDrag(template)" />
    }
  </div>
</app-side-panel-section>

<app-side-panel-section [title]="'artist'" [count]="config.artists ? config.artists.length : 0">
  <div section-content class="artist-grid" >
    @for (item of artistsWithWorkload(); track item.artist.id) {
      <app-artist-card
        [artist]="item.artist"
        [workload]="item.workload"
        (pointerdown)="config.onArtistDragStart(item.artist)"
      />
    }
  </div>
</app-side-panel-section>

