<h1>Template events</h1>

<form [formGroup]="calendarEventCreatorForm">
  <mat-form-field  appearance="outline">
    <mat-label>Name</mat-label>
    <input type="text" matInput formControlName="type">
  </mat-form-field>

  <mat-form-field  appearance="outline">
    <mat-label>Default duration</mat-label>
    <input type="number" min="5" step="5" matInput formControlName="duration">
  </mat-form-field>

  <mat-form-field  appearance="outline">
    <mat-label>Color</mat-label>
    <input type="color" matInput formControlName="color">
  </mat-form-field>
</form>
