<!-- 404 Error -->
<div *ngIf="hasError404" class="error-page">
  <h1>404</h1>
  <p>Oups ! Something went wrong</p>
</div>

<!-- No Match Result -->
<div *ngIf="hasNoMatch && !hasError404" class="error-page">
  <h1>NO MATCH</h1>
  <span>Try different search parameters.</span>
  <sh3-button-primary buttonLabel="Back to search" [onClick]="handleBackToConfig"/>
</div>

<ng-container *ngIf="!hasError404 && !hasNoMatch">

  <div class="container">
    <music-library-stats />
    <div class="filter-bar">
      <div class="searchBar">
        <sh3-input type="text" [label]="'Search'"/>

      </div>
      <sh3-multi-select-dropdown [options]="[{label: 'jazz', value: 'jazz'}]" />
      <sh3-multi-select-dropdown [options]="[{label: 'jazz', value: 'jazz'}]"/>
    </div>


    <label class="fadedText">8 songs</label>
    <div class="listContainer">
      <music-card
        *ngFor="let row of tableData"
        [item]="row"/>
    </div>
  </div>





</ng-container>







<div class="custom-paginator"  *ngIf="!hasError404 && !hasNoMatch">
  <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 0">◀</button>
  <span>{{ currentPage + 1 }} / {{ totalPages }}</span>
  <button (click)="setPage(currentPage + 1)" [disabled]="currentPage + 1 >= totalPages">▶</button>
</div>
