<!-- 404 Error -->
<div *ngIf="hasError404" class="error-page">
  <h1>404</h1>
  <p>Oups ! Something went wrong</p>
</div>

<!-- No Match Result -->
<div *ngIf="hasNoMatch && !hasError404" class="error-page">
  <h1>NO MATCH</h1>
  <span>Try different search parameters.</span>
  <sh3-button-primary buttonLabel="Back to search" [onClick]="handleBackToConfig"/>
</div>

<ng-container *ngIf="!hasError404 && !hasNoMatch">
  <div>
    <sh3-button-secondary buttonLabel="stats"/>
    <mat-icon> insert_chart_outlined</mat-icon>
    <sh3-button-primary buttonLabel="+ Add track"/>
  </div>

  <div class="statBlock">
    <div class="overview">
      <div class="statCard">
        <div class="statContent">
          <span>total</span>
          <span>7</span>
        </div>

      </div>
    </div>
    <div class="specs">

    </div>
    <div class="genres">

    </div>
  </div>

  <div class="filter-bar">

  </div>

  <div class="listContainer">
    <music-card
      *ngFor="let row of tableData"
      [item]="row"/>
  </div>

</ng-container>







<div class="custom-paginator"  *ngIf="!hasError404 && !hasNoMatch">
  <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 0">◀</button>
  <span>{{ currentPage + 1 }} / {{ totalPages }}</span>
  <button (click)="setPage(currentPage + 1)" [disabled]="currentPage + 1 >= totalPages">▶</button>
</div>
