@let r = room();

@if (insertTopPx() !== null) {
  <ui-insert-line [top]="insertTopPx()!" />
}

<div class="room-column" #roomLayer>
  <div class="room-header">

    <div class="room-header-left">

    <span class="room-name">
      {{ r.name }}
    </span>

    </div>

    <div class="room-header-actions">

      <button class="room-options">
        ⋯
      </button>

      @if (!roomServ.isBaseRoom(r)) {
        <button
          class="room-delete"
          (click)="roomServ.removeRoom(r.id)">
          ✕
        </button>
      }

    </div>

  </div>

  <div class="header-separator"></div>

  <div
    class="slots-layer"
    uiDndDropZone
    [dropZone_id]="r.id"
    [dropZoneAccept]="['template','slot']"
    (uiDndDrop)="handleRoomDrop($event)"

    [attr.data-room-id]="r.id"
    [style.height.px]="timelineHeight()"
    [style.background-position]="'0px -' + gridOffsetPx() + 'px'">

    <ng-content />

  </div>
</div>
