$appBgColor_dark: rgb(40, 42, 42);
$appPrimaryMenusBgColor_dark: #191c1e;

$buttonPrimaryBgColor_dark: rgba(253, 255, 255, 0.4);
$buttonPrimaryTextColor: white;


$button-primary-bgColor: rgb(6, 164, 164);
$primaryColor-rgb: 6, 164, 164;
$button-secondary-bgColor: #4e8d8d; //#5fcac7
