@import "mixins/forms";

:host {
  @include form-block();
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  border-radius: 6px;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon {
      font-size: 120px !important;
      width: 120px !important;
      height: 120px !important;
      filter: none !important;
      opacity: 0.5 !important;
      color: white;
    }
  }
}
