<div class="flexRowSpaceBetween fullWidth">
  <div class="third"></div>
  <div class="third center"><h3>Add new song</h3></div>
  <div class="closeBut third"><button (click)="addSongTableWindowService.close()">X</button></div>
</div>

<form #myForm="ngForm" id="addSongForm" (ngSubmit)="onSubmit(myForm)">
  <input id="title"
         name="title"
         type="text"
         placeholder="Song title"
         [(ngModel)]="song.title"
         required/>
  <input id="artist"
         name="artist"
         type="text"
         placeholder="Artist name"
         [(ngModel)]="song.artist"
         required/>
  <button type="submit" [disabled]="myForm.invalid">Submit</button>
</form>

<p><i>Before entering a new track, search the database to avoid duplications</i></p>
