#addSongForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

input {
  width: 200px;
  height: 30px;
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p, h3 {
  color: #a2a8a8;
}
