<div class="wizard-viewport">
  <div class="wizard-slider">
    @for (step of steps.toArray(); track step; let i = $index) {
      @if (i === currentStep) {
        <div class="wizard-step">
          <ng-template [ngTemplateOutlet]="step.templateRef" />
        </div>
      }
    }
  </div>
</div>


<div class="wizard-navigation">
  <button type="button" (click)="previousStep()"
  [disabled]="currentStep === 0">Previous</button>
  <button type="button" (click)="nextStep()"
    [disabled]="currentStep === maxStep">Next
  </button>
</div>

<!-- Dots navigation -->
@if (dotNavigation) {
  <div class="wizard-dots">
    @for (step of steps.toArray(); track step; let i = $index) {
      <span
        class="dot"
        [class.active]="i === currentStep"
        (click)="goToStep(i)">
      </span>
    }
  </div>
}
