<ng-container [formGroup]="formGroup">
  <!-- Title & Auto title toggle -->
  <div class="fullRow">
    <div class="title-row">
      <label for="title">Tab title:</label>
      <label class="auto-title">
        <input type="checkbox" formControlName="autoTitle" label="auto" />
      </label>
    </div>
    <div class="title-input">
      <input id="title" type="text" formControlName="title" placeholder="New Tab" />
    </div>
  </div>


<!-- Component type selection -->
<select class="oneCol" id="componentType" formControlName="searchMode" label="search mode">
  <option value="" disabled>Select a search mode</option>
  <option *ngFor="let type of tabTypes" [value]="type.value">{{ type.label }}</option>
</select>


<!-- Conditional user selection me / single user / multiple users-->
<ng-container [formGroupName]="'target'">
  <select class="oneCol" id="targetMode" formControlName="mode" label="target mode">
    <option value="" disabled>Select a target mode</option>
    <option *ngFor="let mode of targetModes" [value]="mode.value">{{ mode.label }}</option>
  </select>

  <!-- User selection for repertoire type -->
  <ng-container [ngSwitch]="formGroup.get('target.mode')?.value">
    <ng-container *ngSwitchCase="'single-user'">
      <div class="fullRow">
        <select id="user" formControlName="singleUser_id" label="user">
          <option value="" disabled>Select a user</option>
          <option *ngFor="let user of userList" [value]="user.id">{{ user.name }}</option>
        </select>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'multiple-users'">
      <!-- Multi-select dropdown for multiple users -->
      <div class="fullRow">
      <app-multi-select-dropdown
        label="Users"
        formControlName="multipleUsers_id"
        [options]="userList"
        labelKey="name"
        valueKey="id"
        />
      </div>
    </ng-container>
  </ng-container>
</ng-container>

  <ng-container *ngIf="formGroup.get('target.mode')?.value === 'multiple-users'">
    <div class="fullRow">
      <input class="fullWidth" type="checkbox" formControlName="displaySearchAsFolder" label="display search as a tab folder" />
    </div>
  </ng-container>

  <input
    class="oneCol"
    type="checkbox"
    label="activate Data Filter"
    formControlName="dataFilterActive"
  />

  <input
    class="oneCol"
    type="checkbox"
    label="activate Exploitation Filter"
    formControlName="exploitationFilterActive"
/>
</ng-container>
