@import 'mixins/forms';


:host {
  @include form-grid(2);
}

.title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px; // espace entre checkbox et input
  margin-top: 12px;

  .auto-title {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 0.9rem;

    input[type="checkbox"] {
      margin-right: 6px;
    }
  }

  .title-input {
    flex: 1;
    display: flex;
    flex-direction: column;

    label {
      font-size: 0.8rem;
      margin-bottom: 4px;
    }

    input[type="text"] {
      width: 100%;
    }
  }
}

