:host {
  position: absolute;
  left: 0;
  right: 0;

  pointer-events: none;
  z-index: 30;
}

// ----------- INSERT LINE ------------- //
.insert-line {
  position: relative;
  height: 2px;

  background: var(--accent-color);
  opacity: 0.9;

  pointer-events: none;
}

.insert-line::before,
.insert-line::after {
  content: "";
  position: absolute;
  top: -2px;

  width: 6px;
  height: 6px;

  border-radius: 50%;

  background: var(--accent-color);

  /* juste pour lisibilité sur fond sombre */
  box-shadow: 0 0 0 2px var(--content-page-bg-color);
}

.insert-line::before {
  left: -3px;
}

.insert-line::after {
  right: -3px;
}


// --------- INSERT ACTIONS -------------//

ui-radial-menu {
  pointer-events: auto;
}

.insert-action {
  position: absolute;
  left: 0;
  right: 0;

  top: 0; /* 🔥 important */

  height: 2px; /* 🔥 même hauteur que la ligne */

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: auto;
  z-index: 9999;

  animation: fadeIn 0.12s ease;
}

.insert-btn {
  width: 28px;
  height: 28px;

  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.15);

  background: var(--panel-color);
  color: var(--text-primary);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  box-shadow: 0 4px 10px rgba(0,0,0,0.5);

  transition:
    transform 0.12s ease,
    background 0.12s ease;

  will-change: transform;
}

.insert-btn:hover {
  background: var(--hover-color);
  transform: scale(1.08);
}

.insert-center {
  transform: none; /* 🔥 important */
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
