@use 'tokens' as t;
@use 'mixins' as m;


@mixin gridLabel($numCols: 1) {
  display: grid;
  grid-template-columns: repeat($numCols, 1fr);
  gap: 0.2rem;

  @media screen and (max-width: 768px) {
    $cols-sm: max(1, floor($numCols / 2));
    grid-template-columns: repeat($cols-sm, 1fr);
  }
}

.musicEntryContainer {
  @include m.listItemLayout;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &:hover {
    border: 1px solid var(--colorSecondary);
  }
}

.music-entry-card {
  display: grid;
  grid-template-columns: auto 3fr repeat(3, 1fr) 1fr;
  align-items: center;
  gap: 1rem 2rem;
}

.selectAndPlay {
  display: flex;
  flex-direction: row;
  align-items: center;
}



/**
  * Main info section of the music card.
 */
.main-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.artistName {
  font-weight: lighter;
  text-transform: capitalize;
}

.grid2 {
  @include gridLabel(2);
}

.grid4 {
  @include gridLabel(4);
}

/**
  * File container for displaying files associated with the music entry.
 */
.fileContainer {
  display: grid;
  background-color: var(--surface2-bgColor);
  border-radius: 6px;
  padding: 0.5rem;
}

.fileListContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  max-height: 300px;
}

.flexRowSpaceBetween {
  @include m.flexRow(space-between);
}

.divider {
  border: none;
  height: 1px;
  background-color: #7d808030;
  margin: 16px 0;
}
