@import 'tokens';

@mixin form-field-base {
  width: 100%;
  height: $form-field-height;
  padding: $form-field-padding;
  box-sizing: border-box;
  font-size: $form-field-fontSize;
  margin-top: 6px;
  border: 1px solid rgba(253, 255, 255, 0.15);
  border-radius: $form-field-radius;
  background: var(--form-field-bgColor);
  color: var(--primaryTextColor);
  outline: none;
  backdrop-filter: blur(4px);
  transition: border-color 0.4s ease;


  &::placeholder {
    color: rgba(253, 255, 255, 0.4);
  }

  &:focus {
    border-color: var(--form-field-focus-outlineColor);
  }
};

@mixin form-field-label {
  font-size: $form-field-label-fontSize;
  text-transform: capitalize;
}

@mixin form-section-title {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--primaryTextColor);
};
