<table
  cdk-table [dataSource]="pagedData" class="transparent-table">

  <ng-container *ngFor="let column of displayedColumns" [cdkColumnDef]="column.key">
    <th cdk-header-cell *cdkHeaderCellDef> {{ column.key }} </th>

    <td cdk-cell *cdkCellDef="let row">
      <ng-container *ngIf="column.key === 'duration'; else defaultCell">
        {{ row[column.key] | duration }}
      </ng-container>
      <ng-template #defaultCell>
        {{ row[column.key] }}
      </ng-template>
    </td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="columnKeys"></tr>
  <tr
    cdk-row
    *cdkRowDef="let row; columns: columnKeys; let i = index"
    [ngStyle]="{ animationDelay: i * 100 + 'ms' }"
    class="table-row-animate"
  ></tr>
  <!--(dblclick)="openDetails(row)"-->
</table>
