$button-primary-bgColor-dark: rgba(253, 255, 255, 0.4);
$button-primary-textColor: #ccc;
$button-primary-bgColor-light: rgba(65, 80, 79, 0.8);

$button-primary-padding: 0.3rem 0.8rem;
$button-primary-radius: 4px;
