//----------Form Display------------//



//----------Form Fields------------//
$form-field-height: 2.5rem;
$form-field-radius: 6px;
$form-field-padding: 10px 14px;
$form-field-fontSize: 0.9rem;
$form-field-label-fontSize: 0.8rem;



//----------Form Fields colors------------//
//dark
$form-field-bgColor-dark: #3d4242;
$form-field-focus-outlineColor: rgba(253, 255, 255, 0.4);



//light
$form-block-bgColor-light: rgba(255, 255, 255, 0.03);
$form-field-bgColor-light: rgba(93, 119, 119, 0.2);
