:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

//header
.music-lib-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;

  &.compact {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.25rem;
    margin-bottom: 2rem;

    .page-banner {
      font-size: 2rem;
      letter-spacing: 0.3rem;
      margin: 0;
      text-align: left;
    }
  }

  .page-banner {
    font-size: 8rem;
    font-weight: 100;
    color: var(--pageTitleColor);
    text-align: center;
    letter-spacing: 1.5rem;
    margin-bottom: 30px;
    padding-top: 10px;
    user-select: none;
    line-height: 1;
    transition: all 0.3s ease;
  }
}


