<div class="password-field">
  <sh3-input
    [label]="label()"
    type="password"
    [name]="name()"
    size="lg"
    [placeholder]="placeholder()"
    [ngModel]="value()"
    (ngModelChange)="onInput($event)"
    required />

  <ul class="password-rules">
    <li [class.pass]="hasMinLength()">8+ characters</li>
    <li [class.pass]="hasUppercase()">One uppercase letter</li>
    <li [class.pass]="hasLowercase()">One lowercase letter</li>
    <li [class.pass]="hasDigit()">One digit</li>
  </ul>
</div>
