<div class="flexRowSpaceBetween">
  <!--DURATION-->
  <div class="flexRowSpaceBetween">
    <mat-icon>access_time</mat-icon>
    <p>13:42</p>
  </div>

  <!--ENERGY-->
  <div class="flexRowSpaceBetween">
    <mat-icon>offline_bolt</mat-icon>
    <input matInput type="number" [formControl]="energyControl" min="1" max="4" step="1">
  </div>

  <!--PLAYED x times-->
  <div class="flexRowSpaceBetween">
    <mat-icon>play_circle_filled</mat-icon>
    <input matInput type="number" [formControl]="energyControl" min="1" max="4" step="1">
  </div>

  <!--WORKLOAD-->
  <div class="flexRowSpaceBetween">
    <mat-icon>work</mat-icon>
    <input matInput type="number" [formControl]="energyControl" min="1" max="4" step="1">
  </div>
</div>
