<div class="trackLine">
  <mat-icon>drag_handle</mat-icon>
  <span>{{ song.title }}</span>

  <!--NEW-->
  <div class="tagDropZone"
       cdkDropList
       [id]="tagDropZoneId"
       [cdkDropListData]="song.tags"
       [cdkDropListConnectedTo]="connectedDropLists"
       (cdkDropListDropped)="onTagDropped($event)">

    <mat-chip *ngFor="let tag of song.tags"
              cdkDrag
              [cdkDragData]="{ tag: tag, fromSong: song }">
      {{ tag }}
    </mat-chip>
  </div>

  <button mat-icon-button (click)="toggleExpand()" *ngIf="!expandedTrack; else expandedTemplate">
    <mat-icon>expand_more</mat-icon>
  </button>

  <ng-template #expandedTemplate>
    <button mat-icon-button (click)="toggleExpand()">
      <mat-icon>expand_less</mat-icon>
    </button>
  </ng-template>
</div>

<div class="expandedTrack" *ngIf="expandedTrack">
  <div class="flexRowSpaceBetween">
    <div><mat-icon>person</mat-icon> Performers</div>
    <mat-chip-set
      class="example-chip"
      cdkDropList
      cdkDropListOrientation="horizontal">
      @for (performer of compatiblesPerformers; track performer.name) {
        <mat-chip class="example-box" cdkDrag>{{performer.name}}</mat-chip>
      }
    </mat-chip-set>
    <button>+</button>
  </div>


</div>
