<div class="trackLine">
  <mat-icon>drag_handle</mat-icon>

  <span *ngIf="song.get('_id').value; else noSong">{{ song.get('title').value }}</span>
  <ng-template #noSong>
    <!--<open-music-lib-button [pldServ]="pldServ"/>-->
  </ng-template>

  <!--NEW-->
  <div class="tagDropZone"
       cdkDropList
       [id]="tagDropZoneId"
       [cdkDropListData]="song.get('tags').value"
       [cdkDropListConnectedTo]="getConnections()"
       (cdkDropListDropped)="onTagDropped($event)">

    <div *ngFor="let tag of song.get('tags').value" TagStyle [text]="tag"
         DragStyle
         cdkDrag
         [cdkDragData]="{
                tag: tag,
                source: 'trackLine',
                fromSong: song
                }"></div>
  </div>

  <button mat-icon-button (click)="toggleExpand()">
    <mat-icon>{{ expandedTrack ? 'expand_less' : 'expand_more' }}</mat-icon>
  </button>

</div>

<div class="expandedTrack" *ngIf="expandedTrack">
  <div class="flexRowSpaceBetween">
    <div><mat-icon>person</mat-icon> Performers</div>
    <mat-chip-set
      class="example-chip"
      cdkDropList
      cdkDropListOrientation="horizontal">
      @for (performer of compatiblesPerformers; track performer.name) {
        <mat-chip class="example-box" cdkDrag>{{performer.name}}</mat-chip>
      }
    </mat-chip-set>
    <button>+</button>
  </div>


</div>
