<form [formGroup]="form">
  <sh3-input formControlName="name" label="Group Name" />
  <sh3-input formControlName="description" label="Description" />
  <sh3-select formControlName="type" label="Type" [options]="typeOptions" placeholder="group type"/>
  <sh3-multi-select-dropdown formControlName="referents" [options]="referentOptions" placeholder="referents"/>
  <sh3-multi-select-dropdown formControlName="members" [options]="membersOptions" placeholder="members"/>

  <footer class="drawer-footer">
    <sh3-button
      [disabled]="form.invalid"
      (clicked)="submit()">Submit</sh3-button>
  </footer>
</form>
