<div class="app-layout">
  <appMenu class="menu-left"
    [menuItems]="[
          { iconName: 'home', action:  routeService.navigateToHome.bind(routeService) },
          { iconName: 'calendar_clock', action: routeService.navigateToCalendar.bind(routeService) },
          { iconName: 'library_music', action: routeService.navigateToMusicLibrary.bind(routeService) },
          { iconName: 'queue_music', action: routeService.navigateToPlaylist.bind(routeService) },
          { iconName: 'settings', action: routeService.navigateToSettings.bind(routeService) },
          { iconName: 'logout', action: authService.logout.bind(authService) }
        ]"/>

  <div class="layout-body">
    <!--<app-header />-->

    <div class="layout-main">
      <div class="leftPanel" [ngClass]="{ 'hidden': !hasLeftPanel() }">
        <ng-template #leftPanelContainer />
      </div>


      <div class="content">
        <router-outlet />
      </div>

      <div class="rightPanel" [ngClass]="{ 'hidden': !hasRightPanel() }">
        <ng-template #rightPanelContainer />
      </div>

      <div class="context-menu" [ngClass]="{ 'hidden': !hasContextMenu() }">
        <ng-template #contextMenuContainer />
      </div>
    </div>
  </div>
</div>
