<div class="app-header">
  <div class="left">
    <button class="mobile-menu-btn" (click)="onMenuClick()" aria-label="Open menu">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- Logo ou nom d'application -->
    <span class="app-name">SH3PHERD</span>
  </div>

  <div class="right">
    <div class="theme-switch" (click)="toggleTheme()">
      <div class="switch-track">
        <div class="switch-thumb" [class.dark]="isDark">
          {{ isDark ? '🌙' : '🌞' }}
        </div>
      </div>
    </div>

    <!-- Cercle avec initiale -->
    <div class="profile-circle">
      H
    </div>
  </div>

</div>

<div class="app-layout">
  <appMenu class="menu-left"
    [menuItems]="[
          { iconName: 'home', action:  routeService.navigateToHome.bind(routeService) },
          { iconName: 'calendar_clock', action: routeService.navigateToCalendar.bind(routeService) },
          { iconName: 'library_music', action: routeService.navigateToMusicLibrary.bind(routeService) },
          { iconName: 'queue_music', action: routeService.navigateToPlaylist.bind(routeService) },
          { iconName: 'settings', action: routeService.navigateToSettings.bind(routeService) },
          { iconName: 'logout', action: authService.logout.bind(authService) }
        ]"/>

  <div class="layout-body">
    <div class="layout-main">
      <div class="panel" [ngClass]="{ 'hidden': !hasLeftPanel() }">
        <ng-template #leftPanelContainer />
      </div>

      <app-circular-menu #circularMenu
        [menuItems]="[
        { label: 'Home', iconName: 'home', route: '/home' },
        { label: 'Calendar', iconName: 'calendar_today', route: '/profile' },
        { label: 'Music', iconName: 'library_music', route: '/musicLibrary' },
        { label: 'Playlists', iconName: 'queue_music', route: '/settings' },
        { label: 'Settings', iconName: 'settings', route: '/settings' },
        { label: 'Logout', iconName: 'logout', route: '/settings' },

        ]"
      />

      <div class="content">
        <router-outlet />
      </div>

      <div class="panel" [ngClass]="{ 'hidden': !hasRightPanel() }">
        <ng-template #rightPanelContainer />
      </div>

      <div class="context-menu" [ngClass]="{ 'hidden': !hasContextMenu() }">
        <ng-template #contextMenuContainer />
      </div>
    </div>

  </div>
</div>

<!--<div class="app-footer"></div>-->
