<form>
  <app-wizard-container [dotNavigation]="false">
    <!--Track informations-->
    <app-wizard-step>
      <app-form-block [title]="'Version details'" [disabled]="false">
        <sh3-input type="text"
          class="fullRow"
          placeholder="Enter version name"
          [formControl]="versionFormGroup.get('versionName')" />

        <sh3-input type="text"
          class="fullRow"
          placeholder="Enter version artist"
          [formControl]="versionFormGroup.get('versionName')" />

        <div class="versionDetails">
          <sh3-select
            [formControl]="versionFormGroup.get('versionType')"
            [options]="[
              {value: 'original', label: 'original'},
              {value: 'cover', label: 'cover'},
              {value: 'remix', label: 'remix'},
              {value: 'acoustic', label: 'acoustic'},
            ]"/>

          <sh3-select
            [formControl]="versionFormGroup.get('genre')"
            [options]="[
              {value: 'pop', label: 'pop'},
              {value: 'jazz', label: 'jazz'},
            ]"/>
        </div>
      </app-form-block>

    </app-wizard-step>

    <!--Allows mapping to global reference-->
    <app-wizard-step>
      <app-form-block [title]="'SELECT OR ADD MUSIC'" [disabled]="false">

        <sh3-input type="text"
          label='title'
          placeholder="Enter music title"
          [formControl]="musicFormGroup.get('title')"
          [required]="true" />

        <sh3-input type="text"
          label='artist'
          placeholder="Enter artist name"
          [formControl]="musicFormGroup.get('artist')" />

        <!--allows user to map directly to an existing musicReference,
        or create a new one ono the go-->
        <div class="musicMatchTable" label="Select a matching song">
          @if (matchedTracks.length !== 0 ) {
            @for (track of matchedTracks; track track) {
              <div
                class="entry"
                [ngClass]="{ 'selected': track.id === selectedTrackId }"
                (click)="selectTrack(track)"
                >
                {{ track.title }} - {{ track.artist }}
              </div>
            }
          } @else {
            <p>No matching tracks found. Please add a track.</p>
            <div class="addNewTrack" (click)="addNewTrack()">
              <span class="material-icons">add</span>
              Add new track
            </div>
          }

        </div>

      </app-form-block>
    </app-wizard-step>

  </app-wizard-container>

  <!--
  <div class="form-navigation">
    <button type="submit" (click)="submit()" *ngIf="currentStep === 2">Submit</button>
  </div>
  -->
</form>
