@use 'tokens' as t;
@use 'mixins' as m;
@use 'index' as sh3;

:host {
  height: 100%;
  width: 100%;
}

form {
  height: 100%;
  width: 100%;
}

.versionDetails {
  @include m.form-grid(2)
}
.musicMatchWrapper {
  position: relative;
  max-height: 200px;
  overflow: hidden;
}

.musicMatchTable {
  position: relative;
  width: 100%;
  height: 10rem;
  padding: 0 0.5rem;
  box-sizing: border-box;
  font-size: t.$form-field-fontSize;
  margin-top: 0.25rem;
  border: 1px solid var(--form-field-borderColor);
  border-radius: t.$form-field-radius;
  color: var(--baseTextColor);
  outline: none;
  backdrop-filter: blur(4px);
  transition: border-color 0.4s ease;
  overflow-y: scroll;

  // Chrome
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--colorSecondary);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: #282a2a50;
  }


  &:focus {
    border-color: var(--colorSecondary);
  }
};


.entry {
  @include sh3.m-form-field-base;

  &.selected {
    color: white;
    background-color: var(--colorSecondary);
  }
}

