:host {
  height: 115vh;
}

mat-sidenav-container{
  height: 100%;
}


.content {
  height: 100vh;
}

mat-sidenav {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  width: fit-content;
}



