<!--
<ng-container *ngIf="!authService.isAuthenticatedSignal()">
  <section class="content">
    <router-outlet />
  </section>
</ng-container>-->


<ng-container> <!--*ngIf="authService.isAuthenticatedSignal()"-->
  <app-header />
  <mat-sidenav-container>
    <mat-sidenav #leftMenuSidenav mode="side" opened>
      <app-appMenu
        [menuItems]="[
          { iconName: 'home', action:  routeService.navigateToHome.bind(routeService) },
          { iconName: 'calendar_clock', action: routeService.navigateToCalendar.bind(routeService) },
          { iconName: 'library_music', action: routeService.navigateToMusicLibrary.bind(routeService) },
          { iconName: 'queue_music', action: routeService.navigateToPlaylist.bind(routeService) },
          { iconName: 'settings', action: routeService.navigateToSettings.bind(routeService) },
          { iconName: 'logout', action: authService.logout.bind(authService) }
        ]"/>
    </mat-sidenav>

    <section class="content">
      <router-outlet />
    </section>

    <!--SHARED RIGHT SIDE SIDENAV-->
    <mat-sidenav #sidenavRight position="end" mode="side" id="rightSidenav">
      <ng-container *ngIf="sidenavRightService.getSidenavContent() as sidenavComponent">
        <ng-container *ngComponentOutlet="sidenavComponent; injector: createInjector(sidenavRightService.getSidenavInputs())" />
      </ng-container>
    </mat-sidenav>

  </mat-sidenav-container>
  <app-footer />
</ng-container>
