<div cdkDropList
     [cdkDropListData]="songList.controls"
     class="song-list"
     (cdkDropListDropped)="dropSong($event)">

  <div *ngFor="let song of songList.controls || [] ; let i = index;
       trackBy: trackSong"
       cdkDrag
       DragStyle
       class="song"
       [attr.data-index]="i">

    <track-line
      [tagDropZoneId]="'tagDropZone-' + i"
      [pldServ]="pldServ"
      [connectedDropLists] = songDropListConnections
      [songList]="song"
      [song]="song"/>
  </div>

  <add-slot-button (addEmptySlotTrigger)="addEmptySlotInSongList()"/>
</div>
